_HTML/dist/contacts.html
<!DOCTYPE html>
<html lang="ru-RU" dir="ltr" class="no-js">
	<head>
		<!-- (c) студия Wezom | www.wezom.com.ua-->
		<!-- wTPL | v#{locals.version}-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Контакты | Верстка | (c) студия Wezom | www.wezom.com.ua</title>
		<meta name="description" lang="ru-ru" content="">
		<meta name="keywords" lang="ru-ru" content="студия wezom, разработка сайтов">
		<meta name="keywords" lang="en-us" content="studio wezom, web development">
		<meta name="author" lang="ru-ru" content="">
		<!-- Open Graph -->
		<meta property="og:title" content="Заголовок страницы">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="site.com">
		<meta property="og:url" content="http://site.com/current-page">
		<meta property="og:description" content="краткий текст (новости, товара и т.д)">
		<!-- Touch -->
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<!--Responsive-->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="target-densitydpi=device-dpi">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- saved from url=(0014)about:internet -->
		<!--[if IE]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!-- localStorage test -->
		<script>!function(t){function r(){var t=navigator.userAgent,r=!window.addEventListener||t.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!t.match(/Chrome/);if(r)return!1;var e="test";try{return localStorage.setItem(e,e),localStorage.removeItem(e),!0}catch(o){return!1}}t.localSupport=r(),t.localWrite=function(t,r){try{localStorage.setItem(t,r)}catch(e){if(e==QUOTA_EXCEEDED_ERR)return!1}}}(window);
		</script>
		<!-- Внешние css файлы-->
		<link rel="stylesheet" property="stylesheet" href="css/components.css">
		<link rel="stylesheet" property="stylesheet" href="css/style.css">
		<link rel="stylesheet" property="stylesheet" href="css/responsive.css">
		<!-- Внешние js файлы-->
		<script src="js/libs.js"></script>
		<script src="js/components.js"></script>
		<script src="js/inits.js"></script>
		<script src="js/validation.js"></script>
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="manifest.json">
		<link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="contentPage">
		<div class="wWrapper">
			<header class="wHeader">
				<div class="topBlackLine">
					<div class="wSize">
						<div class="topBlackLine__offset">
							<div class="topBlackLine__burger"><a href="#mmenu" class="svgHolder">
									<svg>
										<use xlink:href="#burger"/>
									</svg></a></div>
							<div class="topWhiteLine__logo">
								<div class="topWhiteLine__logo__wrapper">
									<div class="topWhiteLine__logo__wrapper__border">
										<div class="svgHolder">
											<svg>
												<use xlink:href="#logo"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="topBlackLine__left"><a href="#" class="topBlackLine__faq">faq</a><a href="#" class="topBlackLine__contacts">
								<div class="svgHolder">
									<svg>
										<use xlink:href="#phone_icon"/>
									</svg>
								</div><span>Контакты</span></a>
							<div class="topBlackLine__logIcon">
								<div data-url="hidden/enter-popup.php" class="mfiA topBlackLine__enteri">
									<div class="svgHolder">
										<svg>
											<use xlink:href="#enter"/>
										</svg>
									</div><span>Вход</span>
								</div>
								<div data-url="hidden/reg-popup.php" class="mfiA topBlackLine__regi">
									<div class="svgHolder">
										<svg>
											<use xlink:href="#lock"/>
										</svg>
									</div><span>Рег.</span>
								</div>
							</div>
						</div>
						<div class="topBlackLine__right"><a href="#" class="topBlackLine__basket">В вашей кастрюле
								<div class="icon"><span>2</span></div></a>
							<div class="topBlackLine__regEnter">
								<div data-url="hidden/reg-popup.php" class="topBlackLine__reg mfiA">Регистрация</div>
								<div data-url="hidden/enter-popup.php" class="topBlackLine__enter button_aqua button_small mfiA">Вход</div>
							</div>
							<ul class="topBlackLine__langs">
								<li><a data-url="hidden/cristmas.php" class="mfiA">LT</a></li>
								<li><a href="#">RU</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="topWhiteLine">
					<div class="wSize">
						<div class="topWhiteLine__logo">
							<div class="topWhiteLine__logo__wrapper">
								<div class="topWhiteLine__logo__wrapper__border"><a href="#" class="svgHolder">
										<svg>
											<use xlink:href="#logo"/>
										</svg></a>
								</div>
							</div>
						</div>
						<div class="topWhiteLine__menu">
							<ul>
								<li class="is-active"><a href="#">Как это работает</a></li>
								<li><a href="#">Наши коробки</a></li>
								<li><a href="#">Наши рецепты</a>
									<ul>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a>
											<ul>
												<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
												<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
											</ul>
										</li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
									</ul>
								</li>
								<li><a href="#">Смузи</a></li>
								<li><a href="#">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div id="mmenu">
				<ul>
					<li><a>FAQ</a></li>
					<li><a>Контакты</a></li>
				</ul>
			</div>
			<!-- .wHeader -->
			<div class="wContainer">
				<div style="background-image:url(images/smallimage.jpg)" class="smallImage w_clearfix"></div>
				<div class="wSize">
					<div class="breadcrumbs"> 
						<span><a href="index.html">Главная</a></span> 
						<span>Контакты</span>
					</div>
					<!-- breadcrumbs -->
					<div class="contactsBlock">
						<div class="w830">
							<div class="mainTitle_green">Привет! <br> Мы будем очень рады <br> услышать тебя</div>
							<div class="contactsBlock__text">
								<div class="wTxt">
									<p>Мы здесь, чтобы помочь. Если у Вас есть вопросы относительно доставки, качества продукции, оплаты, подписки, или, если вы просто хотите поговорить, только один звонок - и мы  ответим на все Ваши вопросы</p>
									<p>Не стесняйтесь поделиться любым предложением или идеей, насчет рецептов,  улучшения качества обслуживание, или просто сказать  "Привет".</p><b>Мы будем рады слышать Вас!</b>
									<p><a href="#" class="bigLink">Часто Задаваемые Вопросы (FAQ)</a></p>
								</div>
							</div>
							<div class="contactsBlock__info">
								<div class="contactsBlock__infoBlock">
									<div class="contactsBlock__infoBlock__title">Обслуживание клиентов</div>
									<div class="contactsBlock__infoBlock__text">Горячая линия <br> Тел: <b class="big">0207 138 9055</b> <br>Internet: www.Youchef.lt</div>
								</div>
								<div class="contactsBlock__infoBlock">
									<div class="contactsBlock__infoBlock__title">Наш адрес</div>
									<div class="contactsBlock__infoBlock__text">Youchef.lt <br> Oxford House <br>	76 Oxford St <br>London W1D 1BS</div>
								</div>
								<div class="contactsBlock__infoBlock">
									<div class="contactsBlock__infoBlock__title">График работы</div>
									<div class="contactsBlock__infoBlock__text">
										<table>
											<tr>
												<td>Пн-Пт</td>
												<td>9.00 - 22.00</td>
											</tr>
											<tr>
												<td>Сб</td>
												<td>9.00 - 18.00</td>
											</tr>
											<tr>
												<td><b>Вс</b></td>
												<td><b>выходной</b></td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="w410">
							<div class="howWeWork__step__title">Напишите <b class="green">нам</b></div>
							<div data-form="true" class="wForm wFormDef wFormPreloader myForm">
								<div class="wFormRow">
									<div class="wFormInput">
										<input class="wInput" required type="text" name="demo_word_input" id="demo_word_input" placeholder="Имя*" data-rule-word="true" data-rule-minlength="2">
										<div class="inpInfo">Имя *</div>
									</div>
								</div>
								<div class="wFormRow">
									<div class="wFormInput">
										<input class="wInput" required type="email" name="demo_email_input" id="demo_email_input" placeholder="E-mail*" data-rule-email="true">
										<div class="inpInfo">E-mail *</div>
									</div>
								</div>
								<div class="wFormRow">
									<div class="wFormInput">
										<input class="wInput js-phone-mask" type="tel" name="demo_phoneua_input" id="demo_phoneua_input" placeholder="Телефон" data-rule-phoneua="true">
										<div for="demo_phoneua_input" class="inpInfo">Телефон</div>
									</div>
								</div>
								<div class="wFormRow">
									<div class="wFormTextarea">
										<textarea class="wTextarea" required name="demo_textarea" id="demo_textarea" placeholder="Текст сообщения*" data-rule-minlength="20"></textarea>
										<div for="demo_textarea" class="inpInfo">Текст сообщения*</div>
									</div>
								</div>
								<div class="wFormRow w_last w_tac">
									<button class="wSubmit button_aqua button_normal">Отправить</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .wConteiner -->
			</div>
			<footer class="wFooter">
				<div class="footerBlock">
					<div class="wSize">
						<div class="footerBlock__flex">
							<div class="footerBlock__left">
								<div class="footerBlock__whiteTitle">Подпишитесь на рассылку свежих новостей</div>
								<div class="footerBlock__whiteText">Будь всегда в курсе новостей и получай  самые свежие предложения <br> А также подписывай друзей и получай бонус!</div>
								<div class="footerBlock__form">
									<div data-form="true" class="wForm wFormDef wFormPreloader">
										<div class="wFormRow">
											<div class="wFormInput">
												<input class="wInput" required type="email" name="demo_email_input" id="demo_email_input" placeholder="" data-rule-email="true">
												<div class="inpInfo">Email *</div>
												<button class="wSubmit">OK</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="footerBlock__logo"><img src="pic/footer-logo.png"></div>
							<div class="footerBlock__right">
								<div class="footerBlock__whiteTitle">Следи за нами</div>
								<div class="footerBlock__whiteText">Будь частью нас!</div>
								<div class="footerBlock__socials"><a href="#" class="facebook"><span class="svgHolder">
											<svg>
												<use xlink:href="#facebook"/>
											</svg></span></a><a href="#" class="twitter"><span class="svgHolder">
											<svg>
												<use xlink:href="#twitter"/>
											</svg></span></a><a href="#" class="instagram"><span class="svgHolder">
											<svg>
												<use xlink:href="#instagram"/>
											</svg></span></a><a href="#" class="google"><span class="svgHolder">
											<svg>
												<use xlink:href="#google"/>
											</svg></span></a><a href="#" class="youtube"><span class="svgHolder">
											<svg>
												<use xlink:href="#youtube"/>
											</svg></span></a></div>
								<div class="footerBlock__facebook">
									<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&amp;tabs&amp;width=275&amp;height=214&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=1405540726357199" width="275" height="216" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
								</div>
							</div>
						</div>
						<div class="footerBlock__menu">
							<ul>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Контакты</a></li>
								<li><a href="#">Как это работает</a></li>
								<li><a href="#">Наши коробки</a></li>
								<li><a href="#">Наши рецепты</a></li>
								<li><a href="#">Смузи</a></li>
								<li><a href="#">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footerBlock__bottom">
					<div class="wSize">
						<div class="footerBlock__flexbox">
							<div class="footerBlock__copyright">© 2016 YouChef.It Все права защищены</div>
							<div class="footerBlock__list w_clearfix">
								<ul>
									<li><a href="#">Сроки и условия</a></li>
									<li><a href="#">Конфиденциальность</a></li>
								</ul>
							</div><a href="http://wezom.com.ua" target="_blank" class="footerBlock__wezom">Разработано в  студии Wezom<span class="svgHolder">
									<svg>
										<use xlink:href="#icon_wezom"/>
									</svg></span></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- .wFooter-->
			<!-- WezomDefs -->
			<!-- script disabled message -->
			<noscript>
				<input id="wzmMsg_JsClose" type="checkbox" title="Закрыть">
				<div id="wzmMsg_JsInform" class="wzmMsg_Wrapp">
					<div class="wzmMsg_Text">
						<p>В Вашем браузере <strong>отключен JavaScript!</strong> Для корректной работы с сайтом необходима поддержка Javascript.</p>
						<p>Мы рекомендуем Вам включить использование JavaScript в настройках вашего браузера.</p>
					</div>
				<a href="http://wezom.com.ua/" target="_blank" title="Студия Wezom" class="wzmMsg_Link">
					<img src="pic/wezom-info-red.gif" width="50" height="18" alt="Студия Wezom">
				</a>
					<label for="wzmMsg_JsClose" class="wzmMsg_Close"><span>&times;</span></label>
				</div>
			</noscript>
			<!-- old browser detect -->
			<script>function $wzmOldInit(){var t=document.createElement("script");t.src="http://verstka.vps.kherson.ua/sources/plugins/wold/wold.js",document.body.appendChild(t)}try{document.addEventListener("DOMContentLoaded",$wzmOldInit,!1)}catch(e){window.attachEvent("onload",$wzmOldInit)}
			</script>
			<!-- svg sprite -->
			<script>
			</script>
			<!-- изменить id у svg элемента -> #sprite_SiteName -->
			<svg id="sprite_SiteName" xmlns="http://www.w3.org/2000/svg" style="height:0; width:0; visibility:hidden; position:absolute; top:0; left:0;" onload="wSpriteSvg.initialize(this,'jsons/svgsprite.json')"/>
		</div>
	</body>
</html>

_HTML/src/Jade/Views/contacts.jade
﻿//- ++++++++++++++++++++++++++++++++++++++++
	Views/Index.jade
	Главная страница / index.html
	Wezom wTPL v4.0.0
//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'contacts'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.contactsBlock
			.w830
				.mainTitle_green Привет! #[br] Мы будем очень рады #[br] услышать тебя
				.contactsBlock__text
					.wTxt
						p Мы здесь, чтобы помочь. Если у Вас есть вопросы относительно доставки, качества продукции, оплаты, подписки, или, если вы просто хотите поговорить, только один звонок - и мы  ответим на все Ваши вопросы
						p Не стесняйтесь поделиться любым предложением или идеей, насчет рецептов,  улучшения качества обслуживание, или просто сказать  "Привет".
						b Мы будем рады слышать Вас!
						p
							a.bigLink(href='#') Часто Задаваемые Вопросы (FAQ)
				.contactsBlock__info
					.contactsBlock__infoBlock
						.contactsBlock__infoBlock__title Обслуживание клиентов
						.contactsBlock__infoBlock__text Горячая линия #[br] Тел: #[b.big 0207 138 9055] #[br]Internet: www.Youchef.lt
					.contactsBlock__infoBlock
						.contactsBlock__infoBlock__title Наш адрес
						.contactsBlock__infoBlock__text Youchef.lt #[br] Oxford House #[br]	76 Oxford St #[br]London W1D 1BS
					.contactsBlock__infoBlock
						.contactsBlock__infoBlock__title График работы
						.contactsBlock__infoBlock__text
							table
								tr
									td Пн-Пт
									td 9.00 - 22.00
								tr
									td Сб
									td 9.00 - 18.00
								tr
									td #[b Вс]
									td #[b выходной]
			.w410
				.howWeWork__step__title Напишите #[b.green нам]
				.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
					.wFormRow
						-elementName = 'demo_word_input'
						-elementLabel = 'Имя *'
						-
							var attrs = {
							required: true,
							type: 'text',
							name: elementName,
							id: elementName,
							placeholder: 'Имя*',
							'data-rule-word': 'true',
							'data-rule-minlength':2
							}
						.wFormInput
							input.wInput&attributes(attrs)
							.inpInfo= elementLabel
					.wFormRow
						-elementName = 'demo_email_input'
						-elementLabel = 'E-mail *'
						-
							var attrs = {
							required: true,
							type: 'email',
							name: elementName,
							id: elementName,
							placeholder: 'E-mail*',
							'data-rule-email': 'true'
							}
						.wFormInput
							input.wInput&attributes(attrs)
							.inpInfo= elementLabel
					.wFormRow
						-elementName = 'demo_phoneua_input'
						-elementLabel = 'Телефон'
						-
							var attrs = {
							required: false,
							type: 'tel',
							name: elementName,
							id: elementName,
							placeholder: 'Телефон',
							'data-rule-phoneUA': 'true'
							}
						.wFormInput
							input.wInput.js-phone-mask&attributes(attrs)
							.inpInfo(for=elementName)= elementLabel

					.wFormRow
						-elementName = 'demo_textarea'
						-elementLabel = 'Текст сообщения*'
						-
							var attrs = {
							required: true,
							name: elementName,
							id: elementName,
							placeholder: 'Текст сообщения*',
							'data-rule-minlength':20
							}
						.wFormTextarea
							textarea.wTextarea&attributes(attrs)
							.inpInfo(for=elementName)= elementLabel

					.wFormRow.w_last.w_tac
						button.wSubmit.button_aqua.button_normal Отправить
