_HTML/src/Jade/Views/lk.jade
﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'lk'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Привет, Станислав
		.lkBlock
			.lkBlock__info
				.lkBlock__left
					.lkBlock__tabsLine
						.lkBlock__tabs
							span.is-active.js-tab(data-src='personal') Персональные данные
							span.js-tab(data-src='password') Изменить пароль
						a.lkBlock__edit.js-edit(href='#')
							.lkBlock__pencil
								span.svgHolder
									svg: use(xlink:href="#pencil")/
								span Редактировать
					.lkBlock__userInfo.lkBlock__tabBlock.js-dist.wForm.wFormPreloader(data-dist='personal',data-form="true",data-url="hidden/wForm-demo-submit.php")

						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Ваш ID
							.lkBlock__userInfo__col.height 152698
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Имя
							.lkBlock__userInfo__col
								input.notEdit(type='text',value='Станислав',required='required',name='name',data-rule-word='true',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Фамилия
							.lkBlock__userInfo__col
								input.notEdit(type='text',value='Лопасинский',required='required',name='name2',data-rule-word='true',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Дата рождения
							.lkBlock__userInfo__col.js-calendar
								input.notEdit(type='text',value='12/08/1989',required='required',name='mydate',data-rule-mydate='true',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col E-mail
							.lkBlock__userInfo__col
								input.notEdit(type='email',value='stanislav@gmail.com',required='required',name='mail',data-rule-email='true',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Номер телефона
							.lkBlock__userInfo__col
								input.notEdit.js-phone-mask(type='tel',value='+370501234567',required='required',name='tel',data-rule-phoneUa='true',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Город
							.lkBlock__userInfo__col
								select.notEdit(required='required',name='city',disabled)
									option Херсон
									option Одесса
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Улица
							.lkBlock__userInfo__col
								input.notEdit(type='text',value='проспект Ушакова',required='required',name='ul',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Дом
							.lkBlock__userInfo__col
								input.notEdit(type='text',value='17',required='required',name='home',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Квартира
							.lkBlock__userInfo__col
								input.notEdit(type='text',value='48',name='kv',readonly='readonly')
						.lkBlock__userInfo__row.js-submit
							.wSubmit.button_aqua.button_semi Сохранить

					.lkBlock__changePass.lkBlock__tabBlock.js-dist(data-dist='password')
						.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
							.wFormRow
								-elementName = 'demo_word_input'
								-elementLabel = 'Старий пароль *'
								-
									var attrs = {
									required: true,
									type: 'password',
									name: elementName,
									id: elementName,
									placeholder: 'Старый пароль*',
									'data-rule-minlength':4
									}
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel
							.wFormRow
								-elementName = 'demo_equalTo_password'
								-elementLabel = 'Password *'
								-elementType = 'password'
								-elementPlaceholder = 'Новый пароль*'
								-
									var attrs = {
									required: true,
									type: 'password',
									name: elementName,
									id: elementName,
									placeholder: 'Новый пароль*',
									'data-rule-password': 'true'
									}
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel

							.wFormRow
								-elementEqual = '#'+elementName
								-elementName = elementName+'_to'
								-elementLabel = 'Повторить пароль*'
								-
									var attrs = {
									required: true,
									type: 'password',
									name: elementName,
									id: elementName,
									placeholder: 'Повторить пароль*',
									'data-rule-password': 'true',
									'data-rule-equalTo': elementEqual
									}
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel

							.wFormRow.w_last
								button.wSubmit.button_transparent.button_semi Сохранить
				.lkBlock__right
					ul.lkBlock__menu
						li #[a(href='#',class='is-active') Персональные данные]
						li #[a(href='#') Реферальная система]
						li #[a(href='#') Бонусы от рефералов]
						li #[a(href='#') Заказы]
			.lkBlock__masterBlock
				.lkBlock__master
					.lkBlock__title.bg
						.mainTitle_green Стань мастер-шефом и получи подарок
					.lkBlock__lineResult
						.lkBlock__lineResult__status Ваш YouChef статус
						.lkBlock__lineResult__status.countBoxMore Осталось #[b #[em 3] коробки] до след.уровня
						.lkBlock__result.w_clearfix.js-lkBox(data-rating="15",data-checks="0,3,10,20",data-text="новичек,ученик,су-шеф,мастер-шеф")
							-for(i=0;i<30;i++){
							.rect.js-rang
							-}
					- for(i=0;i<3;i++) {
					.lkBlock__desc
						b 5 коробок - ученик повара
						p Я люблю готовить с YouChef! Если хотите вкусные рецепты и свежие продукты, так что вот мой личный код купона! Получите вкусную скидку, используя мой персональный номер
					- }

_HTML/dist/lk.html
<!DOCTYPE html>
<html lang="ru-RU" dir="ltr" class="no-js">
	<head>
		<!-- (c) студия Wezom | www.wezom.com.ua-->
		<!-- wTPL | v#{locals.version}-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Личный кабинет | Верстка | (c) студия Wezom | www.wezom.com.ua</title>
		<meta name="description" lang="ru-ru" content="">
		<meta name="keywords" lang="ru-ru" content="студия wezom, разработка сайтов">
		<meta name="keywords" lang="en-us" content="studio wezom, web development">
		<meta name="author" lang="ru-ru" content="">
		<!-- Open Graph -->
		<meta property="og:title" content="Заголовок страницы">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="site.com">
		<meta property="og:url" content="http://site.com/current-page">
		<meta property="og:description" content="краткий текст (новости, товара и т.д)">
		<!-- Touch -->
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<!--Responsive-->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="target-densitydpi=device-dpi">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- saved from url=(0014)about:internet -->
		<!--[if IE]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!-- localStorage test -->
		<script>!function(t){function r(){var t=navigator.userAgent,r=!window.addEventListener||t.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!t.match(/Chrome/);if(r)return!1;var e="test";try{return localStorage.setItem(e,e),localStorage.removeItem(e),!0}catch(o){return!1}}t.localSupport=r(),t.localWrite=function(t,r){try{localStorage.setItem(t,r)}catch(e){if(e==QUOTA_EXCEEDED_ERR)return!1}}}(window);
		</script>
		<!-- Внешние css файлы-->
		<link rel="stylesheet" property="stylesheet" href="css/components.css">
		<link rel="stylesheet" property="stylesheet" href="css/style.css">
		<link rel="stylesheet" property="stylesheet" href="css/responsive.css">
		<!-- Внешние js файлы-->
		<script src="js/libs.js"></script>
		<script src="js/components.js"></script>
		<script src="js/inits.js"></script>
		<script src="js/validation.js"></script>
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="manifest.json">
		<link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="contentPage">
		<div class="wWrapper">
			<header class="wHeader">
				<div class="topBlackLine">
					<div class="wSize">
						<div class="topBlackLine__offset">
							<div class="topBlackLine__burger"><a href="#mmenu" class="svgHolder">
									<svg>
										<use xlink:href="#burger"/>
									</svg></a></div>
							<div class="topWhiteLine__logo">
								<div class="topWhiteLine__logo__wrapper">
									<div class="topWhiteLine__logo__wrapper__border">
										<div class="svgHolder">
											<svg>
												<use xlink:href="#logo"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="topBlackLine__left"><a href="#" class="topBlackLine__faq">faq</a><a href="#" class="topBlackLine__contacts">
								<div class="svgHolder">
									<svg>
										<use xlink:href="#phone_icon"/>
									</svg>
								</div><span>Контакты</span></a>
							<div class="topBlackLine__logIcon">
								<div data-url="hidden/enter-popup.php" class="mfiA topBlackLine__enteri">
									<div class="svgHolder">
										<svg>
											<use xlink:href="#enter"/>
										</svg>
									</div><span>Вход</span>
								</div>
								<div data-url="hidden/reg-popup.php" class="mfiA topBlackLine__regi">
									<div class="svgHolder">
										<svg>
											<use xlink:href="#lock"/>
										</svg>
									</div><span>Рег.</span>
								</div>
							</div>
						</div>
						<div class="topBlackLine__right"><a href="#" class="topBlackLine__basket">В вашей кастрюле
								<div class="icon"><span>2</span></div></a>
							<div class="topBlackLine__regEnter">
								<div data-url="hidden/reg-popup.php" class="topBlackLine__reg mfiA">Регистрация</div>
								<div data-url="hidden/enter-popup.php" class="topBlackLine__enter button_aqua button_small mfiA">Вход</div>
							</div>
							<ul class="topBlackLine__langs">
								<li><a data-url="hidden/cristmas.php" class="mfiA">LT</a></li>
								<li><a href="#">RU</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="topWhiteLine">
					<div class="wSize">
						<div class="topWhiteLine__logo">
							<div class="topWhiteLine__logo__wrapper">
								<div class="topWhiteLine__logo__wrapper__border"><a href="#" class="svgHolder">
										<svg>
											<use xlink:href="#logo"/>
										</svg></a>
								</div>
							</div>
						</div>
						<div class="topWhiteLine__menu">
							<ul>
								<li class="is-active"><a href="#">Как это работает</a></li>
								<li><a href="#">Наши коробки</a></li>
								<li><a href="#">Наши рецепты</a>
									<ul>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a>
											<ul>
												<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
												<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
											</ul>
										</li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
									</ul>
								</li>
								<li><a href="#">Смузи</a></li>
								<li><a href="#">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div id="mmenu">
				<ul>
					<li><a>FAQ</a></li>
					<li><a>Контакты</a></li>
				</ul>
			</div>
			<!-- .wHeader -->
			<div class="wContainer">
				<div style="background-image:url(images/smallimage.jpg)" class="smallImage w_clearfix"></div>
				<div class="wSize">
					<div class="breadcrumbs"> 
						<span><a href="index.html">Главная</a></span> 
						<span>Личный кабинет</span>
					</div>
					<!-- breadcrumbs -->
					<div class="mainTitle_green">Привет, Станислав</div>
					<div class="lkBlock">
						<div class="lkBlock__info">
							<div class="lkBlock__left">
								<div class="lkBlock__tabsLine">
									<div class="lkBlock__tabs"><span data-src="personal" class="is-active js-tab">Персональные данные</span><span data-src="password" class="js-tab">Изменить пароль</span></div><a href="#" class="lkBlock__edit js-edit">
										<div class="lkBlock__pencil"><span class="svgHolder">
												<svg>
													<use xlink:href="#pencil"/>
												</svg></span><span>Редактировать</span></div></a>
								</div>
								<div data-dist="personal" data-form="true" data-url="hidden/wForm-demo-submit.php" class="lkBlock__userInfo lkBlock__tabBlock js-dist wForm wFormPreloader">
									<div class="lkBlock__userInfo__row">
										<div class="lkBlock__userInfo__col">Ваш ID</div>
										<div class="lkBlock__userInfo__col height">152698</div>
									</div>
									<div class="lkBlock__userInfo__row">
										<div class="lkBlock__userInfo__col">Имя</div>
										<div class="lkBlock__userInfo__col">
											<input type="text" value="Станислав" required="required" name="name" data-rule-word="true" readonly="readonly" class="notEdit">
										</div>
									</div>
									<div class="lkBlock__userInfo__row">
										<div class="lkBlock__userInfo__col">Фамилия</div>
										<div class="lkBlock__userInfo__col">
											<input type="text" value="Лопасинский" required="required" name="name2" data-rule-word="true" readonly="readonly" class="notEdit">
										</div>
									</div>
									<div class="lkBlock__userInfo__row">
										<div class="lkBlock__userInfo__col">Дата рождения</div>
										<div class="lkBlock__userInfo__col js-calendar">
											<input type="text" value="12/08/1989" required="required" name="mydate" data-rule-mydate="true" readonly="readonly" class="notEdit">
										</div>
									</div>
									<div class="lkBlock__userInfo__row">
										<div class="lkBlock__userInfo__col">E-mail</div>
										<div class="lkBlock__userInfo__col">
											<input type="email" value="stanislav@gmail.com" required="required" name="mail" data-rule-email="true" readonly="readonly" class="notEdit">
										</div>
									</div>
									<div class="lkBlock__userInfo__row">
										<div class="lkBlock__userInfo__col">Номер телефона</div>
										<div class="lkBlock__userInfo__col">
											<input type="tel" value="+370501234567" required="required" name="tel" data-rule-phoneua="true" readonly="readonly" class="notEdit js-phone-mask">
										</div>
									</div>
									<div class="lkBlock__userInfo__row">
										<div class="lkBlock__userInfo__col">Город</div>
										<div class="lkBlock__userInfo__col">
											<select required="required" name="city" disabled class="notEdit">
												<option>Херсон</option>
												<option>Одесса</option>
											</select>
										</div>
									</div>
									<div class="lkBlock__userInfo__row">
										<div class="lkBlock__userInfo__col">Улица</div>
										<div class="lkBlock__userInfo__col">
											<input type="text" value="проспект Ушакова" required="required" name="ul" readonly="readonly" class="notEdit">
										</div>
									</div>
									<div class="lkBlock__userInfo__row">
										<div class="lkBlock__userInfo__col">Дом</div>
										<div class="lkBlock__userInfo__col">
											<input type="text" value="17" required="required" name="home" readonly="readonly" class="notEdit">
										</div>
									</div>
									<div class="lkBlock__userInfo__row">
										<div class="lkBlock__userInfo__col">Квартира</div>
										<div class="lkBlock__userInfo__col">
											<input type="text" value="48" name="kv" readonly="readonly" class="notEdit">
										</div>
									</div>
									<div class="lkBlock__userInfo__row js-submit">
										<div class="wSubmit button_aqua button_semi">Сохранить</div>
									</div>
								</div>
								<div data-dist="password" class="lkBlock__changePass lkBlock__tabBlock js-dist">
									<div data-form="true" class="wForm wFormDef wFormPreloader myForm">
										<div class="wFormRow">
											<div class="wFormInput">
												<input class="wInput" required type="password" name="demo_word_input" id="demo_word_input" placeholder="Старый пароль*" data-rule-minlength="4">
												<div class="inpInfo">Старий пароль *</div>
											</div>
										</div>
										<div class="wFormRow">
											<div class="wFormInput">
												<input class="wInput" required type="password" name="demo_equalTo_password" id="demo_equalTo_password" placeholder="Новый пароль*" data-rule-password="true">
												<div class="inpInfo">Password *</div>
											</div>
										</div>
										<div class="wFormRow">
											<div class="wFormInput">
												<input class="wInput" required type="password" name="demo_equalTo_password_to" id="demo_equalTo_password_to" placeholder="Повторить пароль*" data-rule-password="true" data-rule-equalto="#demo_equalTo_password">
												<div class="inpInfo">Повторить пароль*</div>
											</div>
										</div>
										<div class="wFormRow w_last">
											<button class="wSubmit button_transparent button_semi">Сохранить</button>
										</div>
									</div>
								</div>
							</div>
							<div class="lkBlock__right">
								<ul class="lkBlock__menu">
									<li><a href="#" class="is-active">Персональные данные</a></li>
									<li><a href="#">Реферальная система</a></li>
									<li><a href="#">Бонусы от рефералов</a></li>
									<li><a href="#">Заказы</a></li>
								</ul>
							</div>
						</div>
						<div class="lkBlock__masterBlock">
							<div class="lkBlock__master">
								<div class="lkBlock__title bg">
									<div class="mainTitle_green">Стань мастер-шефом и получи подарок</div>
								</div>
								<div class="lkBlock__lineResult">
									<div class="lkBlock__lineResult__status">Ваш YouChef статус</div>
									<div class="lkBlock__lineResult__status countBoxMore">Осталось <b><em>3</em> коробки</b> до след.уровня</div>
									<div data-rating="15" data-checks="0,3,10,20" data-text="новичек,ученик,су-шеф,мастер-шеф" class="lkBlock__result w_clearfix js-lkBox">
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
										<div class="rect js-rang"></div>
									</div>
								</div>
								<div class="lkBlock__desc"><b>5 коробок - ученик повара</b>
									<p>Я люблю готовить с YouChef! Если хотите вкусные рецепты и свежие продукты, так что вот мой личный код купона! Получите вкусную скидку, используя мой персональный номер</p>
								</div>
								<div class="lkBlock__desc"><b>5 коробок - ученик повара</b>
									<p>Я люблю готовить с YouChef! Если хотите вкусные рецепты и свежие продукты, так что вот мой личный код купона! Получите вкусную скидку, используя мой персональный номер</p>
								</div>
								<div class="lkBlock__desc"><b>5 коробок - ученик повара</b>
									<p>Я люблю готовить с YouChef! Если хотите вкусные рецепты и свежие продукты, так что вот мой личный код купона! Получите вкусную скидку, используя мой персональный номер</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .wConteiner -->
			</div>
			<footer class="wFooter">
				<div class="footerBlock">
					<div class="wSize">
						<div class="footerBlock__flex">
							<div class="footerBlock__left">
								<div class="footerBlock__whiteTitle">Подпишитесь на рассылку свежих новостей</div>
								<div class="footerBlock__whiteText">Будь всегда в курсе новостей и получай  самые свежие предложения <br> А также подписывай друзей и получай бонус!</div>
								<div class="footerBlock__form">
									<div data-form="true" class="wForm wFormDef wFormPreloader">
										<div class="wFormRow">
											<div class="wFormInput">
												<input class="wInput" required type="email" name="demo_email_input" id="demo_email_input" placeholder="" data-rule-email="true">
												<div class="inpInfo">Email *</div>
												<button class="wSubmit">OK</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="footerBlock__logo"><img src="pic/footer-logo.png"></div>
							<div class="footerBlock__right">
								<div class="footerBlock__whiteTitle">Следи за нами</div>
								<div class="footerBlock__whiteText">Будь частью нас!</div>
								<div class="footerBlock__socials"><a href="#" class="facebook"><span class="svgHolder">
											<svg>
												<use xlink:href="#facebook"/>
											</svg></span></a><a href="#" class="twitter"><span class="svgHolder">
											<svg>
												<use xlink:href="#twitter"/>
											</svg></span></a><a href="#" class="instagram"><span class="svgHolder">
											<svg>
												<use xlink:href="#instagram"/>
											</svg></span></a><a href="#" class="google"><span class="svgHolder">
											<svg>
												<use xlink:href="#google"/>
											</svg></span></a><a href="#" class="youtube"><span class="svgHolder">
											<svg>
												<use xlink:href="#youtube"/>
											</svg></span></a></div>
								<div class="footerBlock__facebook">
									<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&amp;tabs&amp;width=275&amp;height=214&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=1405540726357199" width="275" height="216" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
								</div>
							</div>
						</div>
						<div class="footerBlock__menu">
							<ul>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Контакты</a></li>
								<li><a href="#">Как это работает</a></li>
								<li><a href="#">Наши коробки</a></li>
								<li><a href="#">Наши рецепты</a></li>
								<li><a href="#">Смузи</a></li>
								<li><a href="#">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footerBlock__bottom">
					<div class="wSize">
						<div class="footerBlock__flexbox">
							<div class="footerBlock__copyright">© 2016 YouChef.It Все права защищены</div>
							<div class="footerBlock__list w_clearfix">
								<ul>
									<li><a href="#">Сроки и условия</a></li>
									<li><a href="#">Конфиденциальность</a></li>
								</ul>
							</div><a href="http://wezom.com.ua" target="_blank" class="footerBlock__wezom">Разработано в  студии Wezom<span class="svgHolder">
									<svg>
										<use xlink:href="#icon_wezom"/>
									</svg></span></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- .wFooter-->
			<!-- WezomDefs -->
			<!-- script disabled message -->
			<noscript>
				<input id="wzmMsg_JsClose" type="checkbox" title="Закрыть">
				<div id="wzmMsg_JsInform" class="wzmMsg_Wrapp">
					<div class="wzmMsg_Text">
						<p>В Вашем браузере <strong>отключен JavaScript!</strong> Для корректной работы с сайтом необходима поддержка Javascript.</p>
						<p>Мы рекомендуем Вам включить использование JavaScript в настройках вашего браузера.</p>
					</div>
				<a href="http://wezom.com.ua/" target="_blank" title="Студия Wezom" class="wzmMsg_Link">
					<img src="pic/wezom-info-red.gif" width="50" height="18" alt="Студия Wezom">
				</a>
					<label for="wzmMsg_JsClose" class="wzmMsg_Close"><span>&times;</span></label>
				</div>
			</noscript>
			<!-- old browser detect -->
			<script>function $wzmOldInit(){var t=document.createElement("script");t.src="http://verstka.vps.kherson.ua/sources/plugins/wold/wold.js",document.body.appendChild(t)}try{document.addEventListener("DOMContentLoaded",$wzmOldInit,!1)}catch(e){window.attachEvent("onload",$wzmOldInit)}
			</script>
			<!-- svg sprite -->
			<script>window.wSpriteSvg=function(t,e,i){var n={ns:"http://www.w3.org/2000/svg",initialize:function(e,i){if(this.prefix="wSpriteSvg_"+e.id,t.localSupport){var n=t.localStorage[this.prefix];if(n){var s=JSON.parse(n);this.setSprite(e,s)}else this.getJson(e,i)}else this.getJson(e,i)},getJson:function(e,i){var n=new XMLHttpRequest,s=this;n.open("GET",i,!0),n.setRequestHeader("Content-type","application/json"),n.onreadystatechange=function(){if(4==n.readyState&&200==n.status){var i=JSON.parse(n.responseText);s.setSprite(e,i),t.localSupport&&t.localWrite(s.prefix,JSON.stringify(i))}},n.send()},buildElem:function(t,i){var n,s,r;for(n in i)for(s in i[n]){var o=e.createElementNS(this.ns,s);for(r in i[n][s])"stops"===r?this.buildElem(o,i[n][s][r]):"innerHTML"==r?o.innerHTML=i[n][s][r]:o.setAttributeNS(null,r,i[n][s][r]);t.appendChild(o)}},setSprite:function(t,i){for(var n in i){var s=i[n],r=e.createElementNS(this.ns,"symbol");r.setAttributeNS(null,"id",n),r.setAttributeNS(null,"viewBox",s.viewBox),this.buildElem(r,s.symbol),s.hasOwnProperty("gradients")&&this.buildElem(t,s.gradients),t.appendChild(r)}this.isDone(t,i)},isDone:function(t,e){}};return n}(this,this.document);
			</script>
			<!-- изменить id у svg элемента -> #sprite_SiteName -->
			<svg id="sprite_SiteName" xmlns="http://www.w3.org/2000/svg" style="height:0; width:0; visibility:hidden; position:absolute; top:0; left:0;" onload="wSpriteSvg.initialize(this,'jsons/svgsprite.json')"/>
		</div>
	</body>
</html>
