_HTML/dist/recipes.html
<!DOCTYPE html>
<html lang="ru-RU" dir="ltr" class="no-js">
	<head>
		<!-- (c) студия Wezom | www.wezom.com.ua-->
		<!-- wTPL | v#{locals.version}-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Контакты | Верстка | (c) студия Wezom | www.wezom.com.ua</title>
		<meta name="description" lang="ru-ru" content="">
		<meta name="keywords" lang="ru-ru" content="студия wezom, разработка сайтов">
		<meta name="keywords" lang="en-us" content="studio wezom, web development">
		<meta name="author" lang="ru-ru" content="">
		<!-- Open Graph -->
		<meta property="og:title" content="Заголовок страницы">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="site.com">
		<meta property="og:url" content="http://site.com/current-page">
		<meta property="og:description" content="краткий текст (новости, товара и т.д)">
		<!-- Touch -->
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<!--Responsive-->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="target-densitydpi=device-dpi">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- saved from url=(0014)about:internet -->
		<!--[if IE]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!-- localStorage test -->
		<script>!function(t){function r(){var t=navigator.userAgent,r=!window.addEventListener||t.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!t.match(/Chrome/);if(r)return!1;var e="test";try{return localStorage.setItem(e,e),localStorage.removeItem(e),!0}catch(o){return!1}}t.localSupport=r(),t.localWrite=function(t,r){try{localStorage.setItem(t,r)}catch(e){if(e==QUOTA_EXCEEDED_ERR)return!1}}}(window);
		</script>
		<!-- Внешние css файлы-->
		<link rel="stylesheet" property="stylesheet" href="css/components.css">
		<link rel="stylesheet" property="stylesheet" href="css/style.css">
		<link rel="stylesheet" property="stylesheet" href="css/responsive.css">
		<!-- Внешние js файлы-->
		<script src="js/libs.js"></script>
		<script src="js/components.js"></script>
		<script src="js/inits.js"></script>
		<script src="js/validation.js"></script>
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="manifest.json">
		<link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="contentPage">
		<div class="wWrapper">
			<header class="wHeader">
				<div class="topBlackLine">
					<div class="wSize">
						<div class="topBlackLine__offset">
							<div class="topBlackLine__burger"><a href="#mmenu" class="svgHolder">
									<svg>
										<use xlink:href="#burger"/>
									</svg></a></div>
							<div class="topWhiteLine__logo">
								<div class="topWhiteLine__logo__wrapper">
									<div class="topWhiteLine__logo__wrapper__border">
										<div class="svgHolder">
											<svg>
												<use xlink:href="#logo"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="topBlackLine__left"><a href="#" class="topBlackLine__faq">faq</a><a href="#" class="topBlackLine__contacts">
								<div class="svgHolder">
									<svg>
										<use xlink:href="#phone_icon"/>
									</svg>
								</div><span>Контакты</span></a>
							<div class="topBlackLine__logIcon">
								<div data-url="hidden/enter-popup.php" class="mfiA topBlackLine__enteri">
									<div class="svgHolder">
										<svg>
											<use xlink:href="#enter"/>
										</svg>
									</div><span>Вход</span>
								</div>
								<div data-url="hidden/reg-popup.php" class="mfiA topBlackLine__regi">
									<div class="svgHolder">
										<svg>
											<use xlink:href="#lock"/>
										</svg>
									</div><span>Рег.</span>
								</div>
							</div>
						</div>
						<div class="topBlackLine__right"><a href="#" class="topBlackLine__basket">В вашей кастрюле
								<div class="icon"><span>2</span></div></a>
							<div class="topBlackLine__regEnter">
								<div data-url="hidden/reg-popup.php" class="topBlackLine__reg mfiA">Регистрация</div>
								<div data-url="hidden/enter-popup.php" class="topBlackLine__enter button_aqua button_small mfiA">Вход</div>
							</div>
							<ul class="topBlackLine__langs">
								<li><a data-url="hidden/cristmas.php" class="mfiA">LT</a></li>
								<li><a href="#">RU</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="topWhiteLine">
					<div class="wSize">
						<div class="topWhiteLine__logo">
							<div class="topWhiteLine__logo__wrapper">
								<div class="topWhiteLine__logo__wrapper__border"><a href="#" class="svgHolder">
										<svg>
											<use xlink:href="#logo"/>
										</svg></a>
								</div>
							</div>
						</div>
						<div class="topWhiteLine__menu">
							<ul>
								<li class="is-active"><a href="#">Как это работает</a></li>
								<li><a href="#">Наши коробки</a></li>
								<li><a href="#">Наши рецепты</a>
									<ul>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a>
											<ul>
												<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
												<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
											</ul>
										</li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
									</ul>
								</li>
								<li><a href="#">Смузи</a></li>
								<li><a href="#">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div id="mmenu">
				<ul>
					<li><a>FAQ</a></li>
					<li><a>Контакты</a></li>
				</ul>
			</div>
			<!-- .wHeader -->
			<div class="wContainer">
				<div style="background-image:url(images/smallimage.jpg)" class="smallImage w_clearfix"></div>
				<div class="wSize">
					<div class="breadcrumbs"> 
						<span><a href="index.html">Главная</a></span> 
						<span>Контакты</span>
					</div>
					<!-- breadcrumbs -->
					<div class="mainTitle_green">Наши рецепты</div>
					<div class="recipesBlock">
						<div class="recipesBlock__left">
							<div class="recipesBlock__optionsLine">
								<div class="recipesBlock__optionsLine__filters">
									<div class="recipesBlock__optionsLine__b">Выбери свое меню</div>
									<div data-filter=".vegan" class="recipesBlock__optionsLine__filter button_transparent js-filter-button">Вегетарианское</div>
									<div data-filter=".gluten-free" class="recipesBlock__optionsLine__filter button_transparent js-filter-button">Глютен фри</div>
									<div data-filter="*" class="recipesBlock__optionsLine__clear js-filter-button"><b>&times;</b><span>Сбросить</span></div>
								</div>
								<div class="recipesBlock__optionsLine__deliveryTime">Закажите до 11:59 в четверг и получите в воскресенье</div>
							</div>
							<div class="recipesBlock__items">
								<div data-id="1" data-name="Название товара" data-type="classic-box" data-price="3.75" class="recipesBlock__item recipesBlock__cheaf recipesBlock--big js-item">
									<div class="weekSlider__img">
										<div class="weekSlider__image">
											<div style="background-image:url(pic/cheaf-image.jpg)" class="img"></div>
										</div>
										<div class="weekSlider__text"><span>Овощи с пряной семгой</span>
											<div class="weekSlider__add js-add-item"></div>
										</div>
										<div class="weekSlider__chefBlock">
											<div class="weekSlider__chefBlock__title"><span>Говядина в сливочном соусе с шалфеем</span></div>
											<div class="weekSlider__chefBlock__text">Вы узнаете, как приготовить идеальный говядину с хрустящей корочкой, сопряженного со сладкими и солеными овощами и слегка липким кокосового риса. Украшенный с лаймом и мятой для свежести.</div>
											<div class="weekSlider__chefBlock__chef"><a href="#" class="weekSlider__chefBlock__chef__names"><b>Алена Свиридова,</b><span>шеф-повар</span></a><a href="#" class="weekSlider__chefBlock__chef__inside"><img src="pic/block-party.jpg"></a></div>
										</div>
										<div class="weekSlider__buyLine">
											<div class="weekSlider__buyLine__inside">
												<div class="popupRecipe__bigLine__kalories popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon apple"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Калории</div>
														<div class="popupRecipe__bigLine__count">296</div>
													</div>
												</div>
												<div class="popupRecipe__bigLine__time popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon time"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Время приготовления</div>
														<div class="popupRecipe__bigLine__count">30-40 минут</div>
													</div>
												</div>
												<div class="popupRecipe__bigLine__expiration popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon ex"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Срок годности</div>
														<div class="popupRecipe__bigLine__count">3 дня</div>
													</div>
												</div>
											</div>
											<div class="weekSlider__add js-add-item"></div>
										</div>
									</div>
								</div>
								<div class="recipesBlock__item vegan gluten-free">
									<div class="weekSlider__img">
										<div class="weekSlider__image">
											<div style="background-image:url(pic/slide.png)" class="img"></div>
											<div style="background-image:url(pic/monday-image.jpg)" class="second"></div>
										</div>
										<div class="weekSlider__text"><span>Овощи с пряной семгой</span>
											<div class="weekSlider__add"></div>
										</div>
										<div class="weekSlider__buyLine">
											<div class="weekSlider__buyLine__inside">
												<div class="popupRecipe__bigLine__kalories popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon apple"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Калории</div>
														<div class="popupRecipe__bigLine__count">296</div>
													</div>
												</div>
												<div class="popupRecipe__bigLine__time popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon time"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Время приготовления</div>
														<div class="popupRecipe__bigLine__count">30-40 минут</div>
													</div>
												</div>
												<div class="popupRecipe__bigLine__expiration popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon ex"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Срок годности</div>
														<div class="popupRecipe__bigLine__count">3 дня</div>
													</div>
												</div>
											</div>
											<div class="weekSlider__add"></div>
										</div>
									</div>
								</div>
								<div class="recipesBlock__item">
									<div class="weekSlider__img">
										<div class="weekSlider__image">
											<div style="background-image:url(pic/slide.png)" class="img"></div>
											<div style="background-image:url(pic/monday-image.jpg)" class="second"></div>
										</div>
										<div class="weekSlider__text"><span>Овощи с пряной семгой</span>
											<div class="weekSlider__add"></div>
										</div>
										<div class="weekSlider__buyLine">
											<div class="weekSlider__buyLine__inside">
												<div class="popupRecipe__bigLine__kalories popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon apple"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Калории</div>
														<div class="popupRecipe__bigLine__count">296</div>
													</div>
												</div>
												<div class="popupRecipe__bigLine__time popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon time"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Время приготовления</div>
														<div class="popupRecipe__bigLine__count">30-40 минут</div>
													</div>
												</div>
												<div class="popupRecipe__bigLine__expiration popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon ex"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Срок годности</div>
														<div class="popupRecipe__bigLine__count">3 дня</div>
													</div>
												</div>
											</div>
											<div class="weekSlider__add"></div>
										</div>
									</div>
								</div>
								<div class="recipesBlock__item gluten-free">
									<div class="weekSlider__img">
										<div class="weekSlider__image">
											<div style="background-image:url(pic/slide.png)" class="img"></div>
											<div style="background-image:url(pic/monday-image.jpg)" class="second"></div>
										</div>
										<div class="weekSlider__text"><span>Овощи с пряной семгой</span>
											<div class="weekSlider__add"></div>
										</div>
										<div class="weekSlider__buyLine">
											<div class="weekSlider__buyLine__inside">
												<div class="popupRecipe__bigLine__kalories popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon apple"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Калории</div>
														<div class="popupRecipe__bigLine__count">296</div>
													</div>
												</div>
												<div class="popupRecipe__bigLine__time popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon time"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Время приготовления</div>
														<div class="popupRecipe__bigLine__count">30-40 минут</div>
													</div>
												</div>
												<div class="popupRecipe__bigLine__expiration popupRecipe__bigLine__flex">
													<div class="popupRecipe__bigLine__icon ex"></div>
													<div class="popupRecipe__bigLine__nc">
														<div class="popupRecipe__bigLine__name">Срок годности</div>
														<div class="popupRecipe__bigLine__count">3 дня</div>
													</div>
												</div>
											</div>
											<div class="weekSlider__add"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="recipesBlock__right">
							<div class="recipesBlock__shortView">
								<div class="recipesBlock__shortView__title">Количество порций</div>
								<div class="recipesBlock__shortView__inps">
									<label>
										<input type="radio" name="countPorcies" checked value="2"><span>2</span>
									</label>
									<label>
										<input type="radio" name="countPorcies" value="3"><span>3</span>
									</label>
									<label>
										<input type="radio" name="countPorcies" value="4"><span>4</span>
									</label>
								</div>
								<div class="recipesBlock__shortView__items">
									<script type="text/template" id="item"><% _.each(items,function(item,key,arr) { %>
										<div data-id="<%= item.id %>" class="recipesBlock__shortView__item">
											<div class="basketInfo__item">
												<div class="basketInfo__item__image"><span style="background-image:url(pic/smuzi-image.jpg)"></span></div>
												<div class="basketInfo__item__text">
													<div class="basketInfo__item__title"><a href="#"><%=item.name %></a></div>
													<div class="basketInfo__item__count"><em><%=item.count %>&nbsp;</em>Порции</div>
													<div class="basketInfo__item__add js-add-porcies">+ Добавить еще</div>
												</div>
												<div class="basketInfo__item__remove js-remove">&times;</div>
											</div>
										</div><% }); %>
									</script>
								</div>
								<div class="recipesBlock__shortView__preCount">
									<div class="recipesBlock__shortView__preCount__row"><span>Стоимость</span><b>£ <em class="js-totalWithoutPromo">0.00</em></b></div>
									<div class="recipesBlock__shortView__preCount__row"><span>Дата доставки</span><span>Среда, 27 июня</span></div>
								</div><a href="#" class="recipesBlock__shortView__addItem recipesBlock__shortView__addItem--orange">+ Добавить смузи / фрукты</a>
								<div class="recipesBlock__shortView__oformLink"><a href="#" class="button_small button_transparent">Продолжить заказ</a><a href="#" class="button_semi button_aqua">Оформить заказ</a></div>
							</div>
						</div>
					</div>
				</div>
				<!-- .wConteiner -->
			</div>
			<footer class="wFooter">
				<div class="footerBlock">
					<div class="wSize">
						<div class="footerBlock__flex">
							<div class="footerBlock__left">
								<div class="footerBlock__whiteTitle">Подпишитесь на рассылку свежих новостей</div>
								<div class="footerBlock__whiteText">Будь всегда в курсе новостей и получай  самые свежие предложения <br> А также подписывай друзей и получай бонус!</div>
								<div class="footerBlock__form">
									<div data-form="true" class="wForm wFormDef wFormPreloader">
										<div class="wFormRow">
											<div class="wFormInput">
												<input class="wInput" required type="email" name="demo_email_input" id="demo_email_input" placeholder="" data-rule-email="true">
												<div class="inpInfo">Email *</div>
												<button class="wSubmit">OK</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="footerBlock__logo"><img src="pic/footer-logo.png"></div>
							<div class="footerBlock__right">
								<div class="footerBlock__whiteTitle">Следи за нами</div>
								<div class="footerBlock__whiteText">Будь частью нас!</div>
								<div class="footerBlock__socials"><a href="#" class="facebook"><span class="svgHolder">
											<svg>
												<use xlink:href="#facebook"/>
											</svg></span></a><a href="#" class="twitter"><span class="svgHolder">
											<svg>
												<use xlink:href="#twitter"/>
											</svg></span></a><a href="#" class="instagram"><span class="svgHolder">
											<svg>
												<use xlink:href="#instagram"/>
											</svg></span></a><a href="#" class="google"><span class="svgHolder">
											<svg>
												<use xlink:href="#google"/>
											</svg></span></a><a href="#" class="youtube"><span class="svgHolder">
											<svg>
												<use xlink:href="#youtube"/>
											</svg></span></a></div>
								<div class="footerBlock__facebook">
									<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&amp;tabs&amp;width=275&amp;height=214&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=1405540726357199" width="275" height="216" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
								</div>
							</div>
						</div>
						<div class="footerBlock__menu">
							<ul>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Контакты</a></li>
								<li><a href="#">Как это работает</a></li>
								<li><a href="#">Наши коробки</a></li>
								<li><a href="#">Наши рецепты</a></li>
								<li><a href="#">Смузи</a></li>
								<li><a href="#">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footerBlock__bottom">
					<div class="wSize">
						<div class="footerBlock__flexbox">
							<div class="footerBlock__copyright">© 2016 YouChef.It Все права защищены</div>
							<div class="footerBlock__list w_clearfix">
								<ul>
									<li><a href="#">Сроки и условия</a></li>
									<li><a href="#">Конфиденциальность</a></li>
								</ul>
							</div><a href="http://wezom.com.ua" target="_blank" class="footerBlock__wezom">Разработано в  студии Wezom<span class="svgHolder">
									<svg>
										<use xlink:href="#icon_wezom"/>
									</svg></span></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- .wFooter-->
			<!-- WezomDefs -->
			<!-- script disabled message -->
			<noscript>
				<input id="wzmMsg_JsClose" type="checkbox" title="Закрыть">
				<div id="wzmMsg_JsInform" class="wzmMsg_Wrapp">
					<div class="wzmMsg_Text">
						<p>В Вашем браузере <strong>отключен JavaScript!</strong> Для корректной работы с сайтом необходима поддержка Javascript.</p>
						<p>Мы рекомендуем Вам включить использование JavaScript в настройках вашего браузера.</p>
					</div>
				<a href="http://wezom.com.ua/" target="_blank" title="Студия Wezom" class="wzmMsg_Link">
					<img src="pic/wezom-info-red.gif" width="50" height="18" alt="Студия Wezom">
				</a>
					<label for="wzmMsg_JsClose" class="wzmMsg_Close"><span>&times;</span></label>
				</div>
			</noscript>
			<!-- old browser detect -->
			<script>function $wzmOldInit(){var t=document.createElement("script");t.src="http://verstka.vps.kherson.ua/sources/plugins/wold/wold.js",document.body.appendChild(t)}try{document.addEventListener("DOMContentLoaded",$wzmOldInit,!1)}catch(e){window.attachEvent("onload",$wzmOldInit)}
			</script>
			<!-- svg sprite -->
			<script>window.wSpriteSvg=function(t,e,i){var n={ns:"http://www.w3.org/2000/svg",initialize:function(e,i){if(this.prefix="wSpriteSvg_"+e.id,t.localSupport){var n=t.localStorage[this.prefix];if(n){var s=JSON.parse(n);this.setSprite(e,s)}else this.getJson(e,i)}else this.getJson(e,i)},getJson:function(e,i){var n=new XMLHttpRequest,s=this;n.open("GET",i,!0),n.setRequestHeader("Content-type","application/json"),n.onreadystatechange=function(){if(4==n.readyState&&200==n.status){var i=JSON.parse(n.responseText);s.setSprite(e,i),t.localSupport&&t.localWrite(s.prefix,JSON.stringify(i))}},n.send()},buildElem:function(t,i){var n,s,r;for(n in i)for(s in i[n]){var o=e.createElementNS(this.ns,s);for(r in i[n][s])"stops"===r?this.buildElem(o,i[n][s][r]):"innerHTML"==r?o.innerHTML=i[n][s][r]:o.setAttributeNS(null,r,i[n][s][r]);t.appendChild(o)}},setSprite:function(t,i){for(var n in i){var s=i[n],r=e.createElementNS(this.ns,"symbol");r.setAttributeNS(null,"id",n),r.setAttributeNS(null,"viewBox",s.viewBox),this.buildElem(r,s.symbol),s.hasOwnProperty("gradients")&&this.buildElem(t,s.gradients),t.appendChild(r)}this.isDone(t,i)},isDone:function(t,e){}};return n}(this,this.document);
			</script>
			<!-- изменить id у svg элемента -> #sprite_SiteName -->
			<svg id="sprite_SiteName" xmlns="http://www.w3.org/2000/svg" style="height:0; width:0; visibility:hidden; position:absolute; top:0; left:0;" onload="wSpriteSvg.initialize(this,'jsons/svgsprite.json')"/>
		</div>
	</body>
</html>

_HTML/src/Jade/Views/recipes.jade
﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'contacts'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Наши рецепты
		.recipesBlock
			.recipesBlock__left
				.recipesBlock__optionsLine
					.recipesBlock__optionsLine__filters
						.recipesBlock__optionsLine__b Выбери свое меню
						.recipesBlock__optionsLine__filter.button_transparent.js-filter-button(data-filter='.vegan') Вегетарианское
						.recipesBlock__optionsLine__filter.button_transparent.js-filter-button(data-filter='.gluten-free') Глютен фри
						.recipesBlock__optionsLine__clear.js-filter-button(data-filter='*')
							b &times;
							span Сбросить
					.recipesBlock__optionsLine__deliveryTime Закажите до 11:59 в четверг и получите в воскресенье
				.recipesBlock__items
					.recipesBlock__item.recipesBlock__cheaf.recipesBlock--big.js-item(data-id='1',data-name='Название товара',data-type='classic-box',data-price='3.75')
						.weekSlider__img
							.weekSlider__image
								.img(style='background-image:url(pic/cheaf-image.jpg)')

							.weekSlider__text #[span Овощи с пряной семгой]
								.weekSlider__add.js-add-item

							.weekSlider__chefBlock
								.weekSlider__chefBlock__title
									span Говядина в сливочном соусе с шалфеем
								.weekSlider__chefBlock__text Вы узнаете, как приготовить идеальный говядину с хрустящей корочкой, сопряженного со сладкими и солеными овощами и слегка липким кокосового риса. Украшенный с лаймом и мятой для свежести.
								.weekSlider__chefBlock__chef
									a.weekSlider__chefBlock__chef__names(href='#')
										b Алена Свиридова,
										span шеф-повар
									a.weekSlider__chefBlock__chef__inside(href='#')
										img(src='pic/block-party.jpg')

							.weekSlider__buyLine
								.weekSlider__buyLine__inside
									.popupRecipe__bigLine__kalories.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.apple
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Калории
											.popupRecipe__bigLine__count 296
									.popupRecipe__bigLine__time.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.time
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Время приготовления
											.popupRecipe__bigLine__count 30-40 минут

									.popupRecipe__bigLine__expiration.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.ex
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Срок годности
											.popupRecipe__bigLine__count 3 дня
								.weekSlider__add.js-add-item

					.recipesBlock__item.vegan.gluten-free
						.weekSlider__img
							.weekSlider__image
								.img(style='background-image:url(pic/slide.png)')
								.second(style='background-image:url(pic/monday-image.jpg)')
							.weekSlider__text #[span Овощи с пряной семгой]
								.weekSlider__add
							.weekSlider__buyLine
								.weekSlider__buyLine__inside
									.popupRecipe__bigLine__kalories.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.apple
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Калории
											.popupRecipe__bigLine__count 296
									.popupRecipe__bigLine__time.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.time
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Время приготовления
											.popupRecipe__bigLine__count 30-40 минут

									.popupRecipe__bigLine__expiration.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.ex
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Срок годности
											.popupRecipe__bigLine__count 3 дня
								.weekSlider__add

					.recipesBlock__item
						.weekSlider__img
							.weekSlider__image
								.img(style='background-image:url(pic/slide.png)')
								.second(style='background-image:url(pic/monday-image.jpg)')
							.weekSlider__text #[span Овощи с пряной семгой]
								.weekSlider__add
							.weekSlider__buyLine
								.weekSlider__buyLine__inside
									.popupRecipe__bigLine__kalories.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.apple
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Калории
											.popupRecipe__bigLine__count 296
									.popupRecipe__bigLine__time.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.time
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Время приготовления
											.popupRecipe__bigLine__count 30-40 минут

									.popupRecipe__bigLine__expiration.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.ex
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Срок годности
											.popupRecipe__bigLine__count 3 дня
								.weekSlider__add

					.recipesBlock__item.gluten-free
						.weekSlider__img
							.weekSlider__image
								.img(style='background-image:url(pic/slide.png)')
								.second(style='background-image:url(pic/monday-image.jpg)')
							.weekSlider__text #[span Овощи с пряной семгой]
								.weekSlider__add
							.weekSlider__buyLine
								.weekSlider__buyLine__inside
									.popupRecipe__bigLine__kalories.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.apple
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Калории
											.popupRecipe__bigLine__count 296
									.popupRecipe__bigLine__time.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.time
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Время приготовления
											.popupRecipe__bigLine__count 30-40 минут

									.popupRecipe__bigLine__expiration.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.ex
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Срок годности
											.popupRecipe__bigLine__count 3 дня
								.weekSlider__add

			.recipesBlock__right
				.recipesBlock__shortView
					.recipesBlock__shortView__title Количество порций
					.recipesBlock__shortView__inps
						label
							input(type='radio',name='countPorcies',checked,value='2')
							span 2
						label
							input(type='radio',name='countPorcies',value='3')
							span 3
						label
							input(type='radio',name='countPorcies',value='4')
							span 4
					.recipesBlock__shortView__items
						script(type="text/template",id="item")
							| <% _.each(items,function(item,key,arr) { %>
							.recipesBlock__shortView__item(data-id!="<%= item.id %>")
								.basketInfo__item
									.basketInfo__item__image
										span(style='background-image:url(pic/smuzi-image.jpg)')
									.basketInfo__item__text
										.basketInfo__item__title
											a(href='#')
												| <%=item.name %>
										.basketInfo__item__count
											em
												| <%=item.count %>&nbsp;
											| Порции
										.basketInfo__item__add.js-add-porcies + Добавить еще
									.basketInfo__item__remove.js-remove &times;
							| <% }); %>


					.recipesBlock__shortView__preCount
						.recipesBlock__shortView__preCount__row
							span Стоимость
							b £ #[em.js-totalWithoutPromo 0.00]
						.recipesBlock__shortView__preCount__row
							span Дата доставки
							span Среда, 27 июня

					a.recipesBlock__shortView__addItem.recipesBlock__shortView__addItem--orange(href='#') + Добавить смузи / фрукты

					.recipesBlock__shortView__oformLink
						a.button_small.button_transparent(href='#') Продолжить заказ
						a.button_semi.button_aqua(href='#') Оформить заказ
