_HTML/dist/recipes_smuzi.html
<!DOCTYPE html>
<html lang="ru-RU" dir="ltr" class="no-js">
	<head>
		<!-- (c) студия Wezom | www.wezom.com.ua-->
		<!-- wTPL | v#{locals.version}-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Смузи и корзины с фруктами | Верстка | (c) студия Wezom | www.wezom.com.ua</title>
		<meta name="description" lang="ru-ru" content="">
		<meta name="keywords" lang="ru-ru" content="студия wezom, разработка сайтов">
		<meta name="keywords" lang="en-us" content="studio wezom, web development">
		<meta name="author" lang="ru-ru" content="">
		<!-- Open Graph -->
		<meta property="og:title" content="Заголовок страницы">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="site.com">
		<meta property="og:url" content="http://site.com/current-page">
		<meta property="og:description" content="краткий текст (новости, товара и т.д)">
		<!-- Touch -->
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<!--Responsive-->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="target-densitydpi=device-dpi">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- saved from url=(0014)about:internet -->
		<!--[if IE]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!-- localStorage test -->
		<script>!function(t){function r(){var t=navigator.userAgent,r=!window.addEventListener||t.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!t.match(/Chrome/);if(r)return!1;var e="test";try{return localStorage.setItem(e,e),localStorage.removeItem(e),!0}catch(o){return!1}}t.localSupport=r(),t.localWrite=function(t,r){try{localStorage.setItem(t,r)}catch(e){if(e==QUOTA_EXCEEDED_ERR)return!1}}}(window);
		</script>
		<!-- Внешние css файлы-->
		<link rel="stylesheet" property="stylesheet" href="css/components.css">
		<link rel="stylesheet" property="stylesheet" href="css/style.css">
		<link rel="stylesheet" property="stylesheet" href="css/responsive.css">
		<!-- Внешние js файлы-->
		<script src="js/libs.js"></script>
		<script src="js/components.js"></script>
		<script src="js/inits.js"></script>
		<script src="js/validation.js"></script>
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="manifest.json">
		<link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="contentPage">
		<div class="wWrapper">
			<header class="wHeader">
				<div class="topBlackLine">
					<div class="wSize">
						<div class="topBlackLine__offset">
							<div class="topBlackLine__burger"><a href="#mmenu" class="svgHolder">
									<svg>
										<use xlink:href="#burger"/>
									</svg></a></div>
							<div class="topWhiteLine__logo">
								<div class="topWhiteLine__logo__wrapper">
									<div class="topWhiteLine__logo__wrapper__border">
										<div class="svgHolder">
											<svg>
												<use xlink:href="#logo"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="topBlackLine__left"><a href="#" class="topBlackLine__faq">faq</a><a href="#" class="topBlackLine__contacts">
								<div class="svgHolder">
									<svg>
										<use xlink:href="#phone_icon"/>
									</svg>
								</div><span>Контакты</span></a>
							<div class="topBlackLine__logIcon">
								<div data-url="hidden/enter-popup.php" class="mfiA topBlackLine__enteri">
									<div class="svgHolder">
										<svg>
											<use xlink:href="#enter"/>
										</svg>
									</div><span>Вход</span>
								</div>
								<div data-url="hidden/reg-popup.php" class="mfiA topBlackLine__regi">
									<div class="svgHolder">
										<svg>
											<use xlink:href="#lock"/>
										</svg>
									</div><span>Рег.</span>
								</div>
							</div>
						</div>
						<div class="topBlackLine__right"><a href="#" class="topBlackLine__basket">В вашей кастрюле
								<div class="icon"><span>2</span></div></a>
							<div class="topBlackLine__regEnter">
								<div data-url="hidden/reg-popup.php" class="topBlackLine__reg mfiA">Регистрация</div>
								<div data-url="hidden/enter-popup.php" class="topBlackLine__enter button_aqua button_small mfiA">Вход</div>
							</div>
							<ul class="topBlackLine__langs">
								<li><a data-url="hidden/cristmas.php" class="mfiA">LT</a></li>
								<li><a href="#">RU</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="topWhiteLine">
					<div class="wSize">
						<div class="topWhiteLine__logo">
							<div class="topWhiteLine__logo__wrapper">
								<div class="topWhiteLine__logo__wrapper__border"><a href="#" class="svgHolder">
										<svg>
											<use xlink:href="#logo"/>
										</svg></a>
								</div>
							</div>
						</div>
						<div class="topWhiteLine__menu">
							<ul>
								<li class="is-active"><a href="#">Как это работает</a></li>
								<li><a href="#">Наши коробки</a></li>
								<li><a href="#">Наши рецепты</a>
									<ul>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a>
											<ul>
												<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
												<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
											</ul>
										</li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
									</ul>
								</li>
								<li><a href="#">Смузи</a></li>
								<li><a href="#">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div id="mmenu">
				<ul>
					<li><a>FAQ</a></li>
					<li><a>Контакты</a></li>
				</ul>
			</div>
			<!-- .wHeader -->
			<div class="wContainer">
				<div style="background-image:url(images/smallimage.jpg)" class="smallImage w_clearfix"></div>
				<div class="wSize">
					<div class="breadcrumbs"> 
						<span><a href="index.html">Главная</a></span> 
						<span><a href="boxes.html">Наши рецепты</a></span> 
						<span>Смузи и корзины с фруктами</span>
					</div>
					<!-- breadcrumbs -->
					<div class="mainTitle_green">Смузи и корзины с фруктами</div>
					<div class="recipesBlock">
						<div class="recipesBlock__left">
							<div class="recipesBlock__optionsLine">
								<div class="recipesBlock__optionsLine__filters">
									<div class="recipesBlock__optionsLine__b">Выбери свое меню</div>
									<div data-filter=".smuzi-one" class="recipesBlock__optionsLine__filter button_transparent js-filter-button">Смузи</div>
									<div data-filter=".fruits" class="recipesBlock__optionsLine__filter button_transparent js-filter-button">Корзина фруктов</div>
									<div data-filter="*" class="recipesBlock__optionsLine__clear js-filter-button"><b>&times;</b><span>Сбросить</span></div>
								</div>
							</div>
							<div class="recipesBlock__smuzis">
								<div class="ourBlock smuzis smuzi-one">
									<div class="ourBlock__row">
										<div class="ourBlock__image">
											<div style="background-image:url(pic/monday-image.jpg)" class="ourBlock__img">
												<div class="ourBlock__kkal">
													<div class="ourBlock__kalories">кКал <b>179</b></div>
													<div class="ourBlock__bzu">БЖУ <b>4/4/33</b></div>
												</div>
											</div>
										</div>
										<div class="ourBlock__text">
											<div class="ourBlock__text__title">Яблочно-кокосовый</div>
											<div class="wTxt">
												<p>Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.</p>
												<p>В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые</p>
											</div>
											<div class="ourBlock__bottomLine w_clearfix">
												<div class="ourBlock__bottomLine__options">
													<div class="ourBlock__bottomLine__time"><b>5 минут</b></div>
													<div class="ourBlock__bottomLine__size">Порция&nbsp;&nbsp; <b>400 мл</b></div>
												</div>
												<div class="ourBlock__bottomLine__ingredients js-show-ingredients">Ингридиенты</div>
											</div>
											<div class="ourBlock__buyBottomLine">
												<div class="ourBlock__buyBottomLine__priceName">Цена</div>
												<div class="ourBlock__buyBottomLine__priceCount"><span>£ 3.75</span><b>х</b></div>
												<div class="ourBlock__buyBottomLine__peoples">
													<select class="ourBlock__buyBottomLine__peoples__select">
														<option>2</option>
														<option>3</option>
														<option>4</option>
													</select>
												</div>
												<div class="ourBlock__buyBottomLine__add"></div>
											</div>
										</div>
									</div>
									<div class="ourBlock__composition">
										<div class="ourBlock__image">
											<div style="background-image:url(pic/smuzi-image.jpg)" class="ourBlock__img"></div>
										</div>
										<div class="ourBlock__text">
											<div class="ourBlock__composition__title">Ингридиенты на 2-х человек</div>
											<div class="ourBlock__composition__table">
												<table>
													<tr>
														<td>Стебель сельдерея</td>
														<td><b>20 гр</b></td>
													</tr>
													<tr>
														<td>Стебель сельдерея</td>
														<td><b>20 гр</b></td>
													</tr>
													<tr>
														<td>Стебель сельдерея</td>
														<td><b>20 гр</b></td>
													</tr>
													<tr>
														<td>Стебель сельдерея</td>
														<td><b>20 гр</b></td>
													</tr>
													<tr>
														<td>Стебель сельдерея</td>
														<td><b>20 гр</b></td>
													</tr>
													<tr>
														<td>Базилик сушеный молотый</td>
														<td><b>400 гр</b></td>
													</tr>
													<tr>
														<td>Базилик сушеный молотый</td>
														<td><b>400 гр</b></td>
													</tr>
													<tr>
														<td>Базилик сушеный молотый</td>
														<td><b>400 гр</b></td>
													</tr>
													<tr>
														<td>Базилик сушеный молотый</td>
														<td><b>400 гр</b></td>
													</tr>
													<tr>
														<td>Базилик сушеный молотый</td>
														<td><b>400 гр</b></td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="ourBlock smuzis fruits">
									<div class="ourBlock__row">
										<div class="ourBlock__image">
											<div style="background-image:url(pic/monday-image.jpg)" class="ourBlock__img">
												<div class="ourBlock__kkal">
													<div class="ourBlock__kalories">кКал <b>179</b></div>
													<div class="ourBlock__bzu">БЖУ <b>4/4/33</b></div>
												</div>
											</div>
										</div>
										<div class="ourBlock__text">
											<div class="ourBlock__text__title">Яблочное настроение</div>
											<div class="wTxt">
												<p>Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.</p>
												<p>В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые</p>
											</div>
											<div class="ourBlock__buyBottomLine">
												<div class="ourBlock__buyBottomLine__priceName">Цена</div>
												<div class="ourBlock__buyBottomLine__priceCount"><span>£ 3.75</span><b>х</b></div>
												<div class="ourBlock__buyBottomLine__peoples">
													<select class="ourBlock__buyBottomLine__peoples__select">
														<option>2</option>
														<option>3</option>
														<option>4</option>
													</select>
												</div>
												<div class="ourBlock__buyBottomLine__add"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="ourBlock smuzis smuzi-one">
									<div class="ourBlock__row">
										<div class="ourBlock__image">
											<div style="background-image:url(pic/monday-image.jpg)" class="ourBlock__img">
												<div class="ourBlock__kkal">
													<div class="ourBlock__kalories">кКал <b>179</b></div>
													<div class="ourBlock__bzu">БЖУ <b>4/4/33</b></div>
												</div>
											</div>
										</div>
										<div class="ourBlock__text">
											<div class="ourBlock__text__title">Яблочно-кокосовый</div>
											<div class="wTxt">
												<p>Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.</p>
												<p>В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые</p>
											</div>
											<div class="ourBlock__bottomLine w_clearfix">
												<div class="ourBlock__bottomLine__options">
													<div class="ourBlock__bottomLine__time"><b>5 минут</b></div>
													<div class="ourBlock__bottomLine__size">Порция&nbsp;&nbsp; <b>400 мл</b></div>
												</div>
												<div class="ourBlock__bottomLine__ingredients js-show-ingredients">Ингридиенты</div>
											</div>
											<div class="ourBlock__buyBottomLine">
												<div class="ourBlock__buyBottomLine__priceName">Цена</div>
												<div class="ourBlock__buyBottomLine__priceCount"><span>£ 3.75</span><b>х</b></div>
												<div class="ourBlock__buyBottomLine__peoples">
													<select class="ourBlock__buyBottomLine__peoples__select">
														<option>2</option>
														<option>3</option>
														<option>4</option>
													</select>
												</div>
												<div class="ourBlock__buyBottomLine__add"></div>
											</div>
										</div>
									</div>
									<div class="ourBlock__composition">
										<div class="ourBlock__image">
											<div style="background-image:url(pic/smuzi-image.jpg)" class="ourBlock__img"></div>
										</div>
										<div class="ourBlock__text">
											<div class="ourBlock__composition__title">Ингридиенты на 2-х человек</div>
											<div class="ourBlock__composition__table">
												<table>
													<tr>
														<td>Стебель сельдерея</td>
														<td><b>20 гр</b></td>
													</tr>
													<tr>
														<td>Стебель сельдерея</td>
														<td><b>20 гр</b></td>
													</tr>
													<tr>
														<td>Стебель сельдерея</td>
														<td><b>20 гр</b></td>
													</tr>
													<tr>
														<td>Стебель сельдерея</td>
														<td><b>20 гр</b></td>
													</tr>
													<tr>
														<td>Стебель сельдерея</td>
														<td><b>20 гр</b></td>
													</tr>
													<tr>
														<td>Базилик сушеный молотый</td>
														<td><b>400 гр</b></td>
													</tr>
													<tr>
														<td>Базилик сушеный молотый</td>
														<td><b>400 гр</b></td>
													</tr>
													<tr>
														<td>Базилик сушеный молотый</td>
														<td><b>400 гр</b></td>
													</tr>
													<tr>
														<td>Базилик сушеный молотый</td>
														<td><b>400 гр</b></td>
													</tr>
													<tr>
														<td>Базилик сушеный молотый</td>
														<td><b>400 гр</b></td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="recipesBlock__right">
							<div class="recipesBlock__shortView">
								<div class="recipesBlock__shortView__title recipesBlock__shortView__basket">Классическая коробка</div>
								<div class="recipesBlock__shortView__items">
									<div class="recipesBlock__shortView__item">
										<div class="basketInfo__item">
											<div class="basketInfo__item__image"><span style="background-image:url(pic/smuzi-image.jpg)"></span></div>
											<div class="basketInfo__item__text">
												<div class="basketInfo__item__title"><a href="#">Название</a></div>
												<div class="basketInfo__item__count"><em>2</em>&nbsp;Порции</div>
											</div>
										</div>
									</div>
								</div>
								<div class="recipesBlock__shortView__preCount">
									<div class="recipesBlock__shortView__preCount__row"><span>Стоимость</span><b>£ <em class="js-totalWithoutPromo">0.00</em></b></div>
									<div class="recipesBlock__shortView__preCount__row"><span>Дата доставки</span><span>Среда, 27 июня</span></div>
								</div>
								<div class="recipesBlock__shortView__oformLink"><a href="#" class="button_small button_transparent">Продолжить заказ</a><a href="#" class="button_semi button_aqua">Оформить заказ</a></div>
							</div>
						</div>
					</div>
				</div>
				<!-- .wConteiner -->
			</div>
			<footer class="wFooter">
				<div class="footerBlock">
					<div class="wSize">
						<div class="footerBlock__flex">
							<div class="footerBlock__left">
								<div class="footerBlock__whiteTitle">Подпишитесь на рассылку свежих новостей</div>
								<div class="footerBlock__whiteText">Будь всегда в курсе новостей и получай  самые свежие предложения <br> А также подписывай друзей и получай бонус!</div>
								<div class="footerBlock__form">
									<div data-form="true" class="wForm wFormDef wFormPreloader">
										<div class="wFormRow">
											<div class="wFormInput">
												<input class="wInput" required type="email" name="demo_email_input" id="demo_email_input" placeholder="" data-rule-email="true">
												<div class="inpInfo">Email *</div>
												<button class="wSubmit">OK</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="footerBlock__logo"><img src="pic/footer-logo.png"></div>
							<div class="footerBlock__right">
								<div class="footerBlock__whiteTitle">Следи за нами</div>
								<div class="footerBlock__whiteText">Будь частью нас!</div>
								<div class="footerBlock__socials"><a href="#" class="facebook"><span class="svgHolder">
											<svg>
												<use xlink:href="#facebook"/>
											</svg></span></a><a href="#" class="twitter"><span class="svgHolder">
											<svg>
												<use xlink:href="#twitter"/>
											</svg></span></a><a href="#" class="instagram"><span class="svgHolder">
											<svg>
												<use xlink:href="#instagram"/>
											</svg></span></a><a href="#" class="google"><span class="svgHolder">
											<svg>
												<use xlink:href="#google"/>
											</svg></span></a><a href="#" class="youtube"><span class="svgHolder">
											<svg>
												<use xlink:href="#youtube"/>
											</svg></span></a></div>
								<div class="footerBlock__facebook">
									<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&amp;tabs&amp;width=275&amp;height=214&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=1405540726357199" width="275" height="216" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
								</div>
							</div>
						</div>
						<div class="footerBlock__menu">
							<ul>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Контакты</a></li>
								<li><a href="#">Как это работает</a></li>
								<li><a href="#">Наши коробки</a></li>
								<li><a href="#">Наши рецепты</a></li>
								<li><a href="#">Смузи</a></li>
								<li><a href="#">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footerBlock__bottom">
					<div class="wSize">
						<div class="footerBlock__flexbox">
							<div class="footerBlock__copyright">© 2016 YouChef.It Все права защищены</div>
							<div class="footerBlock__list w_clearfix">
								<ul>
									<li><a href="#">Сроки и условия</a></li>
									<li><a href="#">Конфиденциальность</a></li>
								</ul>
							</div><a href="http://wezom.com.ua" target="_blank" class="footerBlock__wezom">Разработано в  студии Wezom<span class="svgHolder">
									<svg>
										<use xlink:href="#icon_wezom"/>
									</svg></span></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- .wFooter-->
			<!-- WezomDefs -->
			<!-- script disabled message -->
			<noscript>
				<input id="wzmMsg_JsClose" type="checkbox" title="Закрыть">
				<div id="wzmMsg_JsInform" class="wzmMsg_Wrapp">
					<div class="wzmMsg_Text">
						<p>В Вашем браузере <strong>отключен JavaScript!</strong> Для корректной работы с сайтом необходима поддержка Javascript.</p>
						<p>Мы рекомендуем Вам включить использование JavaScript в настройках вашего браузера.</p>
					</div>
				<a href="http://wezom.com.ua/" target="_blank" title="Студия Wezom" class="wzmMsg_Link">
					<img src="pic/wezom-info-red.gif" width="50" height="18" alt="Студия Wezom">
				</a>
					<label for="wzmMsg_JsClose" class="wzmMsg_Close"><span>&times;</span></label>
				</div>
			</noscript>
			<!-- old browser detect -->
			<script>function $wzmOldInit(){var t=document.createElement("script");t.src="http://verstka.vps.kherson.ua/sources/plugins/wold/wold.js",document.body.appendChild(t)}try{document.addEventListener("DOMContentLoaded",$wzmOldInit,!1)}catch(e){window.attachEvent("onload",$wzmOldInit)}
			</script>
			<!-- svg sprite -->
			<script>window.wSpriteSvg=function(t,e,i){var n={ns:"http://www.w3.org/2000/svg",initialize:function(e,i){if(this.prefix="wSpriteSvg_"+e.id,t.localSupport){var n=t.localStorage[this.prefix];if(n){var s=JSON.parse(n);this.setSprite(e,s)}else this.getJson(e,i)}else this.getJson(e,i)},getJson:function(e,i){var n=new XMLHttpRequest,s=this;n.open("GET",i,!0),n.setRequestHeader("Content-type","application/json"),n.onreadystatechange=function(){if(4==n.readyState&&200==n.status){var i=JSON.parse(n.responseText);s.setSprite(e,i),t.localSupport&&t.localWrite(s.prefix,JSON.stringify(i))}},n.send()},buildElem:function(t,i){var n,s,r;for(n in i)for(s in i[n]){var o=e.createElementNS(this.ns,s);for(r in i[n][s])"stops"===r?this.buildElem(o,i[n][s][r]):"innerHTML"==r?o.innerHTML=i[n][s][r]:o.setAttributeNS(null,r,i[n][s][r]);t.appendChild(o)}},setSprite:function(t,i){for(var n in i){var s=i[n],r=e.createElementNS(this.ns,"symbol");r.setAttributeNS(null,"id",n),r.setAttributeNS(null,"viewBox",s.viewBox),this.buildElem(r,s.symbol),s.hasOwnProperty("gradients")&&this.buildElem(t,s.gradients),t.appendChild(r)}this.isDone(t,i)},isDone:function(t,e){}};return n}(this,this.document);
			</script>
			<!-- изменить id у svg элемента -> #sprite_SiteName -->
			<svg id="sprite_SiteName" xmlns="http://www.w3.org/2000/svg" style="height:0; width:0; visibility:hidden; position:absolute; top:0; left:0;" onload="wSpriteSvg.initialize(this,'jsons/svgsprite.json')"/>
		</div>
	</body>
</html>

_HTML/src/Jade/Views/recipes_smuzi.jade
﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'smuziFruits'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Смузи и корзины с фруктами
		.recipesBlock
			.recipesBlock__left
				.recipesBlock__optionsLine
					.recipesBlock__optionsLine__filters
						.recipesBlock__optionsLine__b Выбери свое меню
						.recipesBlock__optionsLine__filter.button_transparent.js-filter-button(data-filter='.smuzi-one') Смузи
						.recipesBlock__optionsLine__filter.button_transparent.js-filter-button(data-filter='.fruits') Корзина фруктов
						.recipesBlock__optionsLine__clear.js-filter-button(data-filter='*')
							b &times;
							span Сбросить
				.recipesBlock__smuzis
					.ourBlock.smuzis.smuzi-one
						.ourBlock__row
							.ourBlock__image
								.ourBlock__img(style='background-image:url(pic/monday-image.jpg)')
									.ourBlock__kkal
										.ourBlock__kalories кКал #[b 179]
										.ourBlock__bzu БЖУ #[b 4/4/33]
							.ourBlock__text
								.ourBlock__text__title Яблочно-кокосовый
								.wTxt
									p Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.
									p В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые
								.ourBlock__bottomLine.w_clearfix
									.ourBlock__bottomLine__options
										.ourBlock__bottomLine__time #[b 5 минут]
										.ourBlock__bottomLine__size Порция&nbsp;&nbsp; #[b 400 мл]
									.ourBlock__bottomLine__ingredients.js-show-ingredients Ингридиенты
								.ourBlock__buyBottomLine
									.ourBlock__buyBottomLine__priceName Цена
									.ourBlock__buyBottomLine__priceCount
										span £ 3.75
										b х
									.ourBlock__buyBottomLine__peoples
										select.ourBlock__buyBottomLine__peoples__select
											option 2
											option 3
											option 4
									.ourBlock__buyBottomLine__add
						.ourBlock__composition
							.ourBlock__image
								.ourBlock__img(style='background-image:url(pic/smuzi-image.jpg)')
							.ourBlock__text
								.ourBlock__composition__title Ингридиенты на 2-х человек
								.ourBlock__composition__table
									table
										- for (i=0;i<5;i++) {
										tr
											td Стебель сельдерея
											td #[b 20 гр]
										- }
										- for (i=0;i<5;i++) {
										tr
											td Базилик сушеный молотый
											td #[b 400 гр]
										- }

					.ourBlock.smuzis.fruits
						.ourBlock__row
							.ourBlock__image
								.ourBlock__img(style='background-image:url(pic/monday-image.jpg)')
									.ourBlock__kkal
										.ourBlock__kalories кКал #[b 179]
										.ourBlock__bzu БЖУ #[b 4/4/33]
							.ourBlock__text
								.ourBlock__text__title Яблочное настроение
								.wTxt
									p Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.
									p В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые
								.ourBlock__buyBottomLine
									.ourBlock__buyBottomLine__priceName Цена
									.ourBlock__buyBottomLine__priceCount
										span £ 3.75
										b х
									.ourBlock__buyBottomLine__peoples
										select.ourBlock__buyBottomLine__peoples__select
											option 2
											option 3
											option 4
									.ourBlock__buyBottomLine__add
					.ourBlock.smuzis.smuzi-one
						.ourBlock__row
							.ourBlock__image
								.ourBlock__img(style='background-image:url(pic/monday-image.jpg)')
									.ourBlock__kkal
										.ourBlock__kalories кКал #[b 179]
										.ourBlock__bzu БЖУ #[b 4/4/33]
							.ourBlock__text
								.ourBlock__text__title Яблочно-кокосовый
								.wTxt
									p Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.
									p В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые
								.ourBlock__bottomLine.w_clearfix
									.ourBlock__bottomLine__options
										.ourBlock__bottomLine__time #[b 5 минут]
										.ourBlock__bottomLine__size Порция&nbsp;&nbsp; #[b 400 мл]
									.ourBlock__bottomLine__ingredients.js-show-ingredients Ингридиенты
								.ourBlock__buyBottomLine
									.ourBlock__buyBottomLine__priceName Цена
									.ourBlock__buyBottomLine__priceCount
										span £ 3.75
										b х
									.ourBlock__buyBottomLine__peoples
										select.ourBlock__buyBottomLine__peoples__select
											option 2
											option 3
											option 4
									.ourBlock__buyBottomLine__add

						.ourBlock__composition
							.ourBlock__image
								.ourBlock__img(style='background-image:url(pic/smuzi-image.jpg)')
							.ourBlock__text
								.ourBlock__composition__title Ингридиенты на 2-х человек
								.ourBlock__composition__table
									table
										- for (i=0;i<5;i++) {
										tr
											td Стебель сельдерея
											td #[b 20 гр]
										- }
										- for (i=0;i<5;i++) {
										tr
											td Базилик сушеный молотый
											td #[b 400 гр]
										- }
			.recipesBlock__right
				.recipesBlock__shortView
					.recipesBlock__shortView__title.recipesBlock__shortView__basket Классическая коробка
					.recipesBlock__shortView__items
						.recipesBlock__shortView__item
							.basketInfo__item
								.basketInfo__item__image
									span(style='background-image:url(pic/smuzi-image.jpg)')
								.basketInfo__item__text
									.basketInfo__item__title
										a(href='#') Название
									.basketInfo__item__count
										em
											| 2
										| &nbsp;Порции


					.recipesBlock__shortView__preCount
						.recipesBlock__shortView__preCount__row
							span Стоимость
							b £ #[em.js-totalWithoutPromo 0.00]
						.recipesBlock__shortView__preCount__row
							span Дата доставки
							span Среда, 27 июня

					.recipesBlock__shortView__oformLink
						a.button_small.button_transparent(href='#') Продолжить заказ
						a.button_semi.button_aqua(href='#') Оформить заказ
