_HTML/src/Jade/Views/UI_text.jade
﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/UI_text.jade
	Текстовая страница / ui_text.html
	Пример

	Wezom wTPL v3.1.3
	2015.01.12 / Олег Дутченко

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'ui_text'
	-mainMenuPath = ['UI Раздел', 'UI Текстовая страница']

block wContainer
	.wSize
		+pageTitle()
		include ../Widgets/Breadcrumbs

		.wTxt
			+h1()
			+h2()
			+h3()
			+h4()
			+h5()
			+h6()

			h2 Форматирование текста

			p: img(style="float: right; margin-left: 15px; margin-bottom: 15px;" src="pic/no-avatar.png", width="300", alt="") 

			p Краткая демонстрация текстовых элементов / теги. Тег <kbd>#{'<p>'}</kbd> определяет текстовый абзац(создает новый параграф). Абзац является блочным элементом, всегда начинается с новой строки и имеет отсуп до и после себя. Абзац не позволяет в кладывать внутрь себя такие элементы как <kbd>address(информации об авторе)</kbd>, <kbd>blockquote(блочная цитата)</kbd>, <kbd>table(таблица)</kbd>, также другие абзаци <kbd>p > p</kbd>.<br/>Если вам нужно принудительно перевести строку текста на новую линию, без создания нового абзаца и верстикальных отступов между - используйте одинарный тег <kbd>#{'<br/>'}</kbd>.

			p Вы можете отформатировать текст используя такие теги как <kbd>#{'<i>'}</kbd> / <kbd>#{'<em>'}</kbd>, <em>чтобы сделать ваш текст наклонным</em>,<br> вы также можете использовать <kbd>#{'<q>'}</kbd> - <q>строчные цитаты, которые в отличии от блочных, позволяют вложенность внутри абзаца,</q><br>при помощи тегов <kbd>#{'<b>'}</kbd> / <kbd>#{'<strong>'}</kbd> - <strong>можно обозначить важный текст жирностью шрифта</strong>,<br>для <ins>подчеркивания текста</ins> используйте <kbd>#{'<u>'}</kbd> / <kbd>#{'<ins>'}</kbd>, a для <del>перечеркивания</del> - <kbd>#{'<del>'}</kbd> / <kbd>#{'<s>'}</kbd>,<br>Также можно <mark>выделить нужную часть текста</mark> возможно при помощи тега <kbd>#{'<mark>'}</kbd>

			p Чтобы превратить ваш текст в гиперссылку, нужно использовать <a href="#">тег #{'<a>'}</a>. Ссылка должна иметь обязательный атрибут <kbd><b>href="<i>uri</i>"</b></kbd> значение которого должен URI адрес вашей гиперссылки. Более подробно с #[a(href="http://htmlbook.ru/html/a" title="Тег #{'<a>'}" target="_blank") гиперссылками] и другими элементами, представленными на этой странице, вы можете ознакомиться на сайте #[a(href="http://htmlbook.ru/" title="htmlbook.ru" target="_blank") htmlbook.ru]

			p Также можно использовать специальные теги <kbd>#{'<sup>'}</kbd> <sup>Отображает шрифт в виде верхнего индекса</sup> и <kbd>#{'<sub>'}</kbd> <sub>Отображает шрифт в виде нижнего индекса</sub>.<br>Тег <kbd>#{'<small>'}</kbd> <small>уменьшает размер шрифта</small>

			p Тег <code>#{'<code>'}</code> предназначен для отображения одной или нескольких строк текста, который представляет собой программный код<br><em>пример:</em><br>чтобы узнать контекст объекта нужно вызвать <code>console.log(this);</code>.

			p Тег <kbd>#{'<kbd>'}</kbd> используется для обозначения текста, который набирается на клавиатуре или для названия клавиш,<br><em>пример:</em><br>чтобы вызвать <b>"Диспетчер задач"</b> нажмите на клавиатуре вместе 3 клавиши - <kbd><b>Ctrl + Alt + Del</b></kbd>.

			p Тег <samp>#{'<samp>'}</samp> используется для отображения текста, который является результатом вывода компьютерной программы или скрипта,<br><em>пример:</em><br>В результате провеверки мы определил, что <samp>ваш браузер поддерживает JavaScript</samp>

			p Тег <kbd>#{'<abbr>'}</kbd> указывает, что <abbr title="последовательность символов">ПС</abbr> является аббревиатурой. С помощью атрибута <kbd>title</kbd> дается расшифровка сокращения, что позволяет понимать аббревиатуру тем людям, которые с ней не знакомы. Кроме того, <strong>поисковые системы индексируют полнотекстовый вариант сокращения</strong>, что может использоваться для повышения рейтинга документа.

			p Как правило, когда, в документе, упоминается <dfn title="это новый термин">новый термин</dfn>, он выделяется курсивом и дается его определение. При использовании этого термина в дальнейшем, он считается уже известным читателю. Тег <dfn title="тег #{'<dfn>'}">#{'<dfn>'}</dfn> применяется для выделения таких терминов при их первом появлении в тексте. С помощью атрибута <kbd>title</kbd> вы можете дать более пожробную расшифровку термина.

			address Тег <kbd>#{'<address>'}</kbd> предназначен для хранения информации об авторе<em>(НЕ адреса и контакты компании, прочее)</em> и может включать в себя любые элементы HTML вроде ссылок, текста, выделений и т.д.

			blockquote Тег <kbd>#{'<blockquote>'}</kbd> используется для обозначения цитат, длинных выписок, афоризмов и прочее, который создается в новом блоке с пробелами до и после.

			pre Тег #{'<pre>'} определяет блок предварительно форматированного текста.<br>&nbsp;&nbsp;&nbsp;&nbsp;Такой текст отображается обычно моноширинным шрифтом и со всеми пробелами между словами.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;По умолчанию, любое количество пробелов идущих в коде подряд, на веб-странице показывается как один.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Тег #{'<pre>'} позволяет обойти эту особенность и отображать текст<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;как требуется разработчику.

			h2 Списки

			h5 Маркированный список
			ul
				li #[a(href="http://www.wezom.com.ua" target="_blank" title="Веб-студия Wezom") Веб - студия Wezom] - Продвижение, создание сайтов, разработка, раскрутка сайта
				li #[a(href="http://www.korova.ks.ua" target="_blank" title="Коворкинг - Центр Корова") Коворкинг - Центр Корова] - Аренда офиса, рабочего места в центре Херсона
				li #[a(href="http://www.100bannerov.com" target="_blank" title="100bannerov") 100bannerov] - Размещение бесплатной баннерной рекламы в интернете
				li #[a(href="http://www.wezom.mobi" target="_blank" title="Wezom.mobile") Wezom.mobile] - Разработка и создание мобильных приложений для android и ios устройств в Украине
					ul
						li: +lorem(4)
						li: +lorem(9)
						li
							+lorem(6)
							ul
								li: +lorem(4, 'ru')
								li: +lorem(9, 'ru')
								li: +lorem(6, 'ru')

			h5 Нумерованный список
			ol
				li #[a(href="http://www.dom-rebenka.org.ua" target="_blank" title="Областной Дом ребенка") Областной Дом ребенка] - Помощь детям с пораженной ЦНС
				li #[a(href="http://www.blogoduma.ru" target="_blank" title="Медицинский портал") Медицинский портал] - Все о здоровье и медицин
				li #[a(href="http://www.more.ks.ua" target="_blank" title="Отдых на море") Отдых на море] - Черное и Азовское море / пансионаты Херсонского побережья
				li #[a(href="http://www.rafting.mk.ua" target="_blank" title="Рафтинг на Южном Буге и в Карпатах") Рафтинг на Южном Буге и в Карпатах] - Рафтинг в Украине, сплав по реке Южный Буг
					ol
						li: +lorem(4)
						li: +lorem(9)
						li
							+lorem(6)
							ol
								li: +lorem(4, 'ru')
								li: +lorem(9, 'ru')
								li: +lorem(6, 'ru')

			h5 Список опредлений
			dl
				dt Что такое Тег?
				dd Тег — это специальный символ разметки, который применяется для вставки различных элементов на веб-страницу таких как: рисунки, таблицы, ссылки и др., и для изменения их вида.
				dt Что такое HTML-документ?
				dd Обычный текстовый файл, который может содержать в себе текст, теги и стили. Изображения и другие объекты хранятся отдельно. Содержимое такого файла обычно называется HTML-код.
				dt Что такое Сайт?
				dd Cайт — это набор отдельных веб-страниц, которые связаны между собой ссылками и единым оформлением.

			h2 Таблицы
			table 
				caption caption таблици
				tr 
					th Заглавие таблици
					th Заглавие таблици
					th Заглавие таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
			table.table-null
				caption Таблица CSS класс <b>"table-null"</b>
				tr 
					th Заглавие таблици
					th Заглавие таблици
					th Заглавие таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
			table.table-zebra
				caption Таблица CSS класс <b>"table-zebra"</b>
				tr 
					th Заглавие таблици
					th Заглавие таблици
					th Заглавие таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици
				tr 
					td Данные вашей таблици
					td Данные вашей таблици
					td Данные вашей таблици

			h2 Iframe, Video, Audio

			<iframe width="560" height="315" src="https://www.youtube.com/embed/LEzKfmzKmjA" allowfullscreen></iframe>

			video(src="video/video.mp4")
			audio(src="audio/audio.mp3", controls)

_HTML/dist/ui_text.html
<!DOCTYPE html>
<html lang="ru-RU" dir="ltr" class="no-js">
	<head>
		<!-- (c) студия Wezom | www.wezom.com.ua-->
		<!-- wTPL | v#{locals.version}-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>UI Текстовая страница | Верстка | (c) студия Wezom | www.wezom.com.ua</title>
		<meta name="description" lang="ru-ru" content="">
		<meta name="keywords" lang="ru-ru" content="студия wezom, разработка сайтов">
		<meta name="keywords" lang="en-us" content="studio wezom, web development">
		<meta name="author" lang="ru-ru" content="">
		<!-- Open Graph -->
		<meta property="og:title" content="Заголовок страницы">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="site.com">
		<meta property="og:url" content="http://site.com/current-page">
		<meta property="og:description" content="краткий текст (новости, товара и т.д)">
		<!-- Touch -->
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<!--Responsive-->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="target-densitydpi=device-dpi">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- saved from url=(0014)about:internet -->
		<!--[if IE]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!-- localStorage test -->
		<script>!function(t){function r(){var t=navigator.userAgent,r=!window.addEventListener||t.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!t.match(/Chrome/);if(r)return!1;var e="test";try{return localStorage.setItem(e,e),localStorage.removeItem(e),!0}catch(o){return!1}}t.localSupport=r(),t.localWrite=function(t,r){try{localStorage.setItem(t,r)}catch(e){if(e==QUOTA_EXCEEDED_ERR)return!1}}}(window);
		</script>
		<!-- Внешние css файлы-->
		<link rel="stylesheet" property="stylesheet" href="css/components.css">
		<link rel="stylesheet" property="stylesheet" href="css/style.css">
		<link rel="stylesheet" property="stylesheet" href="css/responsive.css">
		<!-- Внешние js файлы-->
		<script src="js/libs.js"></script>
		<script src="js/components.js"></script>
		<script src="js/inits.js"></script>
		<script src="js/validation.js"></script>
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="manifest.json">
		<link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<div class="wWrapper">
			<header class="wHeader">
				<div class="topBlackLine">
					<div class="wSize">
						<div class="topBlackLine__offset">
							<div class="topBlackLine__burger"><a href="#mmenu" class="svgHolder">
									<svg>
										<use xlink:href="#burger"/>
									</svg></a></div>
							<div class="topWhiteLine__logo">
								<div class="topWhiteLine__logo__wrapper">
									<div class="topWhiteLine__logo__wrapper__border">
										<div class="svgHolder">
											<svg>
												<use xlink:href="#logo"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="topBlackLine__left"><a href="#" class="topBlackLine__faq">faq</a><a href="#" class="topBlackLine__contacts">
								<div class="svgHolder">
									<svg>
										<use xlink:href="#phone_icon"/>
									</svg>
								</div><span>Контакты</span></a>
							<div class="topBlackLine__logIcon">
								<div data-url="hidden/enter-popup.php" class="mfiA topBlackLine__enteri">
									<div class="svgHolder">
										<svg>
											<use xlink:href="#enter"/>
										</svg>
									</div><span>Вход</span>
								</div>
								<div data-url="hidden/reg-popup.php" class="mfiA topBlackLine__regi">
									<div class="svgHolder">
										<svg>
											<use xlink:href="#lock"/>
										</svg>
									</div><span>Рег.</span>
								</div>
							</div>
						</div>
						<div class="topBlackLine__right"><a href="#" class="topBlackLine__basket">В вашей кастрюле
								<div class="icon"><span>2</span></div></a>
							<div class="topBlackLine__regEnter">
								<div data-url="hidden/reg-popup.php" class="topBlackLine__reg mfiA">Регистрация</div>
								<div data-url="hidden/enter-popup.php" class="topBlackLine__enter button_aqua button_small mfiA">Вход</div>
							</div>
							<ul class="topBlackLine__langs">
								<li><a data-url="hidden/cristmas.php" class="mfiA">LT</a></li>
								<li><a href="#">RU</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="topWhiteLine">
					<div class="wSize">
						<div class="topWhiteLine__logo">
							<div class="topWhiteLine__logo__wrapper">
								<div class="topWhiteLine__logo__wrapper__border"><a href="#" class="svgHolder">
										<svg>
											<use xlink:href="#logo"/>
										</svg></a>
								</div>
							</div>
						</div>
						<div class="topWhiteLine__menu">
							<ul>
								<li class="is-active"><a href="#">Как это работает</a></li>
								<li><a href="#">Наши коробки</a></li>
								<li><a href="#">Наши рецепты</a>
									<ul>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a>
											<ul>
												<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
												<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
											</ul>
										</li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
										<li><a href="#"><span class="topWhiteLine__menu__img"><img src="pic/block-party.jpg"></span><span class="topWhiteLine__menu__text">Рецепты классической коробки</span></a></li>
									</ul>
								</li>
								<li><a href="#">Смузи</a></li>
								<li><a href="#">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div id="mmenu">
				<ul>
					<li><a>FAQ</a></li>
					<li><a>Контакты</a></li>
				</ul>
			</div>
			<!-- .wHeader -->
			<div class="wSize">
				<nav class="wMenu">
					<ul>
						<li><a href="index.html"><span>Главная</span></a>
						</li>
						<li class="haveSubMenu w_active"><a href="ui_text.html"><span>UI Раздел</span></a>
							<ul>
								<li class="w_active"><a href="ui_text.html"><span>UI Текстовая страница</span></a>
								</li>
								<li><a href="ui_elements.html"><span>UI Элементы</span></a>
								</li>
								<li><a href="ui_forms.html"><span>UI Формы</span></a>
								</li>
								<li><a href="ui_svg.html"><span>UI SVG Sprite</span></a>
								</li>
							</ul>
						</li>
						<li><a href="sitemap.html"><span>Карта сайта</span></a>
						</li>
					</ul>
				</nav>
				<!-- wMenu -->
			</div>
			<div class="wContainer">
				<div class="wSize">
					<div class="pageTitle">UI Текстовая страница
					</div>
					<div class="breadcrumbs"> 
						<span><a href="index.html">Главная</a></span> 
						<span>Пример типографии сайта</span>
					</div>
					<!-- breadcrumbs -->
					<div class="wTxt">
						<h1>Заголовок h1
						</h1>
						<h2>Заголовок h2
						</h2>
						<h3>Заголовок h3
						</h3>
						<h4>Заголовок h4
						</h4>
						<h5>Заголовок h5
						</h5>
						<h6>Заголовок h6
						</h6>
						<h2>Форматирование текста</h2>
						<p><img style="float: right; margin-left: 15px; margin-bottom: 15px;" src="pic/no-avatar.png" width="300" alt=""></p>
						<p>Краткая демонстрация текстовых элементов / теги. Тег <kbd>&lt;p&gt;</kbd> определяет текстовый абзац(создает новый параграф). Абзац является блочным элементом, всегда начинается с новой строки и имеет отсуп до и после себя. Абзац не позволяет в кладывать внутрь себя такие элементы как <kbd>address(информации об авторе)</kbd>, <kbd>blockquote(блочная цитата)</kbd>, <kbd>table(таблица)</kbd>, также другие абзаци <kbd>p > p</kbd>.<br>Если вам нужно принудительно перевести строку текста на новую линию, без создания нового абзаца и верстикальных отступов между - используйте одинарный тег <kbd>&lt;br/&gt;</kbd>.</p>
						<p>Вы можете отформатировать текст используя такие теги как <kbd>&lt;i&gt;</kbd> / <kbd>&lt;em&gt;</kbd>, <em>чтобы сделать ваш текст наклонным</em>,<br> вы также можете использовать <kbd>&lt;q&gt;</kbd> - <q>строчные цитаты, которые в отличии от блочных, позволяют вложенность внутри абзаца,</q><br>при помощи тегов <kbd>&lt;b&gt;</kbd> / <kbd>&lt;strong&gt;</kbd> - <strong>можно обозначить важный текст жирностью шрифта</strong>,<br>для <ins>подчеркивания текста</ins> используйте <kbd>&lt;u&gt;</kbd> / <kbd>&lt;ins&gt;</kbd>, a для <del>перечеркивания</del> - <kbd>&lt;del&gt;</kbd> / <kbd>&lt;s&gt;</kbd>,<br>Также можно <mark>выделить нужную часть текста</mark> возможно при помощи тега <kbd>&lt;mark&gt;</kbd></p>
						<p>Чтобы превратить ваш текст в гиперссылку, нужно использовать <a href="#">тег &lt;a&gt;</a>. Ссылка должна иметь обязательный атрибут <kbd><b>href="<i>uri</i>"</b></kbd> значение которого должен URI адрес вашей гиперссылки. Более подробно с <a href="http://htmlbook.ru/html/a" title="Тег &lt;a&gt;" target="_blank">гиперссылками</a> и другими элементами, представленными на этой странице, вы можете ознакомиться на сайте <a href="http://htmlbook.ru/" title="htmlbook.ru" target="_blank">htmlbook.ru</a></p>
						<p>Также можно использовать специальные теги <kbd>&lt;sup&gt;</kbd> <sup>Отображает шрифт в виде верхнего индекса</sup> и <kbd>&lt;sub&gt;</kbd> <sub>Отображает шрифт в виде нижнего индекса</sub>.<br>Тег <kbd>&lt;small&gt;</kbd> <small>уменьшает размер шрифта</small></p>
						<p>Тег <code>&lt;code&gt;</code> предназначен для отображения одной или нескольких строк текста, который представляет собой программный код<br><em>пример:</em><br>чтобы узнать контекст объекта нужно вызвать <code>console.log(this);</code>.</p>
						<p>Тег <kbd>&lt;kbd&gt;</kbd> используется для обозначения текста, который набирается на клавиатуре или для названия клавиш,<br><em>пример:</em><br>чтобы вызвать <b>"Диспетчер задач"</b> нажмите на клавиатуре вместе 3 клавиши - <kbd><b>Ctrl + Alt + Del</b></kbd>.</p>
						<p>Тег <samp>&lt;samp&gt;</samp> используется для отображения текста, который является результатом вывода компьютерной программы или скрипта,<br><em>пример:</em><br>В результате провеверки мы определил, что <samp>ваш браузер поддерживает JavaScript</samp></p>
						<p>Тег <kbd>&lt;abbr&gt;</kbd> указывает, что <abbr title="последовательность символов">ПС</abbr> является аббревиатурой. С помощью атрибута <kbd>title</kbd> дается расшифровка сокращения, что позволяет понимать аббревиатуру тем людям, которые с ней не знакомы. Кроме того, <strong>поисковые системы индексируют полнотекстовый вариант сокращения</strong>, что может использоваться для повышения рейтинга документа.</p>
						<p>Как правило, когда, в документе, упоминается <dfn title="это новый термин">новый термин</dfn>, он выделяется курсивом и дается его определение. При использовании этого термина в дальнейшем, он считается уже известным читателю. Тег <dfn title="тег &lt;dfn&gt;">&lt;dfn&gt;</dfn> применяется для выделения таких терминов при их первом появлении в тексте. С помощью атрибута <kbd>title</kbd> вы можете дать более пожробную расшифровку термина.</p>
						<address>Тег <kbd>&lt;address&gt;</kbd> предназначен для хранения информации об авторе<em>(НЕ адреса и контакты компании, прочее)</em> и может включать в себя любые элементы HTML вроде ссылок, текста, выделений и т.д.</address>
						<blockquote>Тег <kbd>&lt;blockquote&gt;</kbd> используется для обозначения цитат, длинных выписок, афоризмов и прочее, который создается в новом блоке с пробелами до и после.</blockquote>
						<pre>Тег &lt;pre&gt; определяет блок предварительно форматированного текста.<br>&nbsp;&nbsp;&nbsp;&nbsp;Такой текст отображается обычно моноширинным шрифтом и со всеми пробелами между словами.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;По умолчанию, любое количество пробелов идущих в коде подряд, на веб-странице показывается как один.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Тег &lt;pre&gt; позволяет обойти эту особенность и отображать текст<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;как требуется разработчику.</pre>
						<h2>Списки</h2>
						<h5>Маркированный список</h5>
						<ul>
							<li><a href="http://www.wezom.com.ua" target="_blank" title="Веб-студия Wezom">Веб - студия Wezom</a> - Продвижение, создание сайтов, разработка, раскрутка сайта</li>
							<li><a href="http://www.korova.ks.ua" target="_blank" title="Коворкинг - Центр Корова">Коворкинг - Центр Корова</a> - Аренда офиса, рабочего места в центре Херсона</li>
							<li><a href="http://www.100bannerov.com" target="_blank" title="100bannerov">100bannerov</a> - Размещение бесплатной баннерной рекламы в интернете</li>
							<li><a href="http://www.wezom.mobi" target="_blank" title="Wezom.mobile">Wezom.mobile</a> - Разработка и создание мобильных приложений для android и ios устройств в Украине
								<ul>
									<li> Lorem ipsum dolor sit
									</li>
									<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
									</li>
									<li> Lorem ipsum dolor sit amet, consectetur
										<ul>
											<li> Повседневная практика показывает, что
											</li>
											<li> Повседневная практика показывает, что постоянный количественный рост и сфера
											</li>
											<li> Повседневная практика показывает, что постоянный количественный
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<h5>Нумерованный список</h5>
						<ol>
							<li><a href="http://www.dom-rebenka.org.ua" target="_blank" title="Областной Дом ребенка">Областной Дом ребенка</a> - Помощь детям с пораженной ЦНС</li>
							<li><a href="http://www.blogoduma.ru" target="_blank" title="Медицинский портал">Медицинский портал</a> - Все о здоровье и медицин</li>
							<li><a href="http://www.more.ks.ua" target="_blank" title="Отдых на море">Отдых на море</a> - Черное и Азовское море / пансионаты Херсонского побережья</li>
							<li><a href="http://www.rafting.mk.ua" target="_blank" title="Рафтинг на Южном Буге и в Карпатах">Рафтинг на Южном Буге и в Карпатах</a> - Рафтинг в Украине, сплав по реке Южный Буг
								<ol>
									<li> Lorem ipsum dolor sit
									</li>
									<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
									</li>
									<li> Lorem ipsum dolor sit amet, consectetur
										<ol>
											<li> Повседневная практика показывает, что
											</li>
											<li> Повседневная практика показывает, что постоянный количественный рост и сфера
											</li>
											<li> Повседневная практика показывает, что постоянный количественный
											</li>
										</ol>
									</li>
								</ol>
							</li>
						</ol>
						<h5>Список опредлений</h5>
						<dl>
							<dt>Что такое Тег?</dt>
							<dd>Тег — это специальный символ разметки, который применяется для вставки различных элементов на веб-страницу таких как: рисунки, таблицы, ссылки и др., и для изменения их вида.</dd>
							<dt>Что такое HTML-документ?</dt>
							<dd>Обычный текстовый файл, который может содержать в себе текст, теги и стили. Изображения и другие объекты хранятся отдельно. Содержимое такого файла обычно называется HTML-код.</dd>
							<dt>Что такое Сайт?</dt>
							<dd>Cайт — это набор отдельных веб-страниц, которые связаны между собой ссылками и единым оформлением.</dd>
						</dl>
						<h2>Таблицы</h2>
						<table> 
							<caption>caption таблици</caption>
							<tr> 
								<th>Заглавие таблици</th>
								<th>Заглавие таблици</th>
								<th>Заглавие таблици</th>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
						</table>
						<table class="table-null">
							<caption>Таблица CSS класс <b>"table-null"</b></caption>
							<tr> 
								<th>Заглавие таблици</th>
								<th>Заглавие таблици</th>
								<th>Заглавие таблици</th>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
						</table>
						<table class="table-zebra">
							<caption>Таблица CSS класс <b>"table-zebra"</b></caption>
							<tr> 
								<th>Заглавие таблици</th>
								<th>Заглавие таблици</th>
								<th>Заглавие таблици</th>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
							<tr> 
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
								<td>Данные вашей таблици</td>
							</tr>
						</table>
						<h2>Iframe, Video, Audio</h2><iframe width="560" height="315" src="https://www.youtube.com/embed/LEzKfmzKmjA" allowfullscreen></iframe>
						<video src="video/video.mp4"></video>
						<audio src="audio/audio.mp3" controls></audio>
					</div>
				</div>
				<!-- .wConteiner -->
			</div>
			<footer class="wFooter">
				<div class="footerBlock">
					<div class="wSize">
						<div class="footerBlock__flex">
							<div class="footerBlock__left">
								<div class="footerBlock__whiteTitle">Подпишитесь на рассылку свежих новостей</div>
								<div class="footerBlock__whiteText">Будь всегда в курсе новостей и получай  самые свежие предложения <br> А также подписывай друзей и получай бонус!</div>
								<div class="footerBlock__form">
									<div data-form="true" class="wForm wFormDef wFormPreloader">
										<div class="wFormRow">
											<div class="wFormInput">
												<input class="wInput" required type="email" name="demo_email_input" id="demo_email_input" placeholder="" data-rule-email="true">
												<div class="inpInfo">Email *</div>
												<button class="wSubmit">OK</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="footerBlock__logo"><img src="pic/footer-logo.png"></div>
							<div class="footerBlock__right">
								<div class="footerBlock__whiteTitle">Следи за нами</div>
								<div class="footerBlock__whiteText">Будь частью нас!</div>
								<div class="footerBlock__socials"><a href="#" class="facebook"><span class="svgHolder">
											<svg>
												<use xlink:href="#facebook"/>
											</svg></span></a><a href="#" class="twitter"><span class="svgHolder">
											<svg>
												<use xlink:href="#twitter"/>
											</svg></span></a><a href="#" class="instagram"><span class="svgHolder">
											<svg>
												<use xlink:href="#instagram"/>
											</svg></span></a><a href="#" class="google"><span class="svgHolder">
											<svg>
												<use xlink:href="#google"/>
											</svg></span></a><a href="#" class="youtube"><span class="svgHolder">
											<svg>
												<use xlink:href="#youtube"/>
											</svg></span></a></div>
								<div class="footerBlock__facebook">
									<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&amp;tabs&amp;width=275&amp;height=214&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=1405540726357199" width="275" height="216" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
								</div>
							</div>
						</div>
						<div class="footerBlock__menu">
							<ul>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Контакты</a></li>
								<li><a href="#">Как это работает</a></li>
								<li><a href="#">Наши коробки</a></li>
								<li><a href="#">Наши рецепты</a></li>
								<li><a href="#">Смузи</a></li>
								<li><a href="#">О нас</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footerBlock__bottom">
					<div class="wSize">
						<div class="footerBlock__flexbox">
							<div class="footerBlock__copyright">© 2016 YouChef.It Все права защищены</div>
							<div class="footerBlock__list w_clearfix">
								<ul>
									<li><a href="#">Сроки и условия</a></li>
									<li><a href="#">Конфиденциальность</a></li>
								</ul>
							</div><a href="http://wezom.com.ua" target="_blank" class="footerBlock__wezom">Разработано в  студии Wezom<span class="svgHolder">
									<svg>
										<use xlink:href="#icon_wezom"/>
									</svg></span></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- .wFooter-->
			<!-- WezomDefs -->
			<!-- script disabled message -->
			<noscript>
				<input id="wzmMsg_JsClose" type="checkbox" title="Закрыть">
				<div id="wzmMsg_JsInform" class="wzmMsg_Wrapp">
					<div class="wzmMsg_Text">
						<p>В Вашем браузере <strong>отключен JavaScript!</strong> Для корректной работы с сайтом необходима поддержка Javascript.</p>
						<p>Мы рекомендуем Вам включить использование JavaScript в настройках вашего браузера.</p>
					</div>
				<a href="http://wezom.com.ua/" target="_blank" title="Студия Wezom" class="wzmMsg_Link">
					<img src="pic/wezom-info-red.gif" width="50" height="18" alt="Студия Wezom">
				</a>
					<label for="wzmMsg_JsClose" class="wzmMsg_Close"><span>&times;</span></label>
				</div>
			</noscript>
			<!-- old browser detect -->
			<script>function $wzmOldInit(){var t=document.createElement("script");t.src="http://verstka.vps.kherson.ua/sources/plugins/wold/wold.js",document.body.appendChild(t)}try{document.addEventListener("DOMContentLoaded",$wzmOldInit,!1)}catch(e){window.attachEvent("onload",$wzmOldInit)}
			</script>
			<!-- svg sprite -->
			<script>window.wSpriteSvg=function(t,e,i){var n={ns:"http://www.w3.org/2000/svg",initialize:function(e,i){if(this.prefix="wSpriteSvg_"+e.id,t.localSupport){var n=t.localStorage[this.prefix];if(n){var s=JSON.parse(n);this.setSprite(e,s)}else this.getJson(e,i)}else this.getJson(e,i)},getJson:function(e,i){var n=new XMLHttpRequest,s=this;n.open("GET",i,!0),n.setRequestHeader("Content-type","application/json"),n.onreadystatechange=function(){if(4==n.readyState&&200==n.status){var i=JSON.parse(n.responseText);s.setSprite(e,i),t.localSupport&&t.localWrite(s.prefix,JSON.stringify(i))}},n.send()},buildElem:function(t,i){var n,s,r;for(n in i)for(s in i[n]){var o=e.createElementNS(this.ns,s);for(r in i[n][s])"stops"===r?this.buildElem(o,i[n][s][r]):"innerHTML"==r?o.innerHTML=i[n][s][r]:o.setAttributeNS(null,r,i[n][s][r]);t.appendChild(o)}},setSprite:function(t,i){for(var n in i){var s=i[n],r=e.createElementNS(this.ns,"symbol");r.setAttributeNS(null,"id",n),r.setAttributeNS(null,"viewBox",s.viewBox),this.buildElem(r,s.symbol),s.hasOwnProperty("gradients")&&this.buildElem(t,s.gradients),t.appendChild(r)}this.isDone(t,i)},isDone:function(t,e){}};return n}(this,this.document);
			</script>
			<!-- изменить id у svg элемента -> #sprite_SiteName -->
			<svg id="sprite_SiteName" xmlns="http://www.w3.org/2000/svg" style="height:0; width:0; visibility:hidden; position:absolute; top:0; left:0;" onload="wSpriteSvg.initialize(this,'jsons/svgsprite.json')"/>
		</div>
	</body>
</html>
